/* 6px */
/* 8px */
/* 12px */
/* 17px */
/* 24px */
/* 34px */
/* 48px */
/* 68px */
/* 95px */
/* 135px */
/* 191px */
/* 271px */
* {
  box-sizing: border-box;
  cursor: none;
}

html {
  height: 100%;
  font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 700, 24px);
  line-height: 1.5;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F1F6F9;
  color: #000;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1rem;
  kerning: auto;
  font-kerning: auto;
  overflow-x: hidden;
}

main {
  position: relative;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
}

h1 {
  font-size: 5.625rem;
  font-weight: 700;
}

h2 {
  font-size: 3.9583rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8333rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.4167rem;
  font-weight: 400;
}

small, .text_small {
  font-size: 0.7083rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background-color: transparent;
}

img {
  border: none;
  outline: none;
}

.cursor {
  pointer-events: none;
  opacity: 0;
}
.cursor-ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor-ball circle {
  fill: #E6E073;
}
.cursor-outer {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor-outer circle {
  fill: transparent;
  stroke: #E6E073;
  stroke-width: 2px;
}

.--contain {
  min-height: 100vh;
  width: 100%;
}

.-wrap, .-wrap-center {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.-wrap-center {
  display: grid;
  place-content: center;
}

.-inactive {
  display: none !important;
}

.-lockScroll {
  height: 100%;
  overflow-y: hidden;
}

.--hover-1 {
  position: relative;
  display: flex;
  max-height: 40px;
  padding: 0.3333rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.05rem solid #141301;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  z-index: 2;
}

.--hover-1-wrapper {
  position: relative;
  min-width: 3.75rem;
  max-width: max-content;
  overflow: hidden;
  z-index: 2;
}
.--hover-1-wrapper .--hover-1-text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.7083rem;
  font-weight: 700;
  text-align: center;
}

.--hover-1-hover {
  position: absolute;
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #E6E073;
  visibility: hidden;
  z-index: 1;
}

.-no-list {
  list-style: none;
}

.-ordered-list {
  list-style: decimal;
}
.-ordered-list .-list-head {
  list-style: circle;
}

.-sm-em {
  font-style: italic;
}

.-sm-bd {
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 1.2;
  text-transform: uppercase;
}

.-tag-sm {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: #E6E073;
  color: #FFF;
  font-family: "Quicksand", sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
}

.-img-shadow-rg {
  -webkit-box-shadow: 0px 0px 3.9583rem #D6DADA;
  -moz-box-shadow: 0px 0px 3.9583rem #D6DADA;
  -ms-box-shadow: 0px 0px 3.9583rem #D6DADA;
  box-shadow: 0px 0px 3.9583rem #D6DADA;
}

.-SVG-arrow.arrow-back {
  height: 1.5em;
  fill: #FFF;
}

#fixedReference {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
}

#test-div {
  height: 100vh;
  width: 100%;
  border: 2px solid green;
}

#profilePhoto {
  height: 100%;
  border-radius: 50%;
}

.pageChangeContainer {
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  place-content: center;
  background-color: #141301;
  z-index: 11;
}
.pageChangeContainer p {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 3.9583rem;
  font-weight: 500;
  text-transform: lowercase;
}

.-animated-bounceIn {
  position: relative;
}

.-animated-expandRight {
  display: inline-block;
  position: relative;
}

.-inline-link {
  position: relative;
  color: #BA2D0B;
  cursor: pointer;
  overflow: clip;
}
.-inline-link:hover, .-inline-link:visited, .-inline-link:focus {
  color: #BA2D0B;
}
.-inline-link span {
  transition: color 250ms ease-in-out;
}
.-inline-link span::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
  bottom: 0%;
  left: 0;
  border-radius: 1rem;
  background-color: #BA2D0B;
  transition: left 250ms ease-in-out;
}
.-inline-link span:hover::before {
  left: 100%;
}
.-inline-link span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0%;
  left: -100%;
  border-radius: 1rem;
  background-color: #BA2D0B;
  transition: left 250ms ease-in-out 150ms;
}
.-inline-link span:hover::after {
  left: 0%;
}

.navigationWindowTop {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0px 47.986px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.05rem solid #141301;
  border-bottom: 0.05rem solid #141301;
}
.navigationWindowTop .navigationWindowTop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper {
  display: flex;
  padding: 24px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper .navLink-home {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper .navLink-home .logo {
  height: 100%;
  aspect-ratio: 1/1;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper .navLinks-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper .navLinks-wrapper li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper .navLinks-wrapper li a {
  display: flex;
  position: relative;
  max-height: 40px;
  padding: 0.3333rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.05rem solid #141301;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}
.navigationWindowTop .navigationWindowTop-container .navigationWindowTop-wrapper .navLinks-wrapper li a.-activeNavLink {
  background-color: #ECEBB6;
}

/*# sourceMappingURL=blogPost.css.map */
