/* 26.4px */
/* 20px */
/* 15px */
/* 11px */
/* 26px */
/* 35.6px */
/* 47.4px */
/* 63.2px */
/* 84.2px */
/* 112.2px */
/* 20px */
/* 15px */
*, *::before, *::after {
  box-sizing: border-box;
  cursor: none;
}

* {
  margin: 0;
  scrollbar-width: none !important;
}

html {
  height: 100%;
  font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 700, 20px);
  line-height: 1.5;
}

body {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0 1.6rem;
  background-color: #050B10;
  color: #F3F5F7;
  font-family: "Metrophobic", sans-serif;
  font-size: 1rem;
  kerning: auto;
  font-kerning: auto;
  overflow-x: hidden;
  animation: body-background 5s ease-in-out infinite;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.32;
}

h1 {
  font-size: 5.61rem;
  font-weight: 700;
}

h2 {
  font-size: 4.21rem;
  font-weight: 600;
}

h3 {
  font-size: 3.16rem;
  font-weight: 500;
}

h4 {
  font-size: 2.37rem;
  font-weight: 400;
}

h5 {
  font-size: 1.78rem;
  font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

small {
  font-size: 0.75rem;
}

a, button {
  all: unset;
}

ul.-no-list, ol.-no-list {
  all: unset;
}
ul.-no-list li, ol.-no-list li {
  all: unset;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#gradient-canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  --gradient-color-1: #2a2a29;
  --gradient-color-2: #050a10;
  --gradient-color-3: #050a10;
  --gradient-color-4: #050a10;
  z-index: -1;
}

#viewport {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

.__cursor {
  position: fixed;
  display: flex;
  top: -6px;
  left: -7px;
  pointer-events: none;
  mix-blend-mode: exclusion;
  z-index: 500;
}
.__cursor .__cursor-ball {
  fill: #FFC857;
}

.__cursor-outer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: exclusion;
  z-index: 499;
}
.__cursor-outer circle {
  fill: transparent;
  stroke: #FFC857;
  stroke-width: 1px;
}

.__spacer {
  width: 100%;
  background: transparent;
}
.__spacer_regular {
  height: 4rem;
}

.__divider_small {
  height: 1.32px;
  width: 100%;
  background-color: #5C5F62;
  opacity: 50%;
}

.-inactive {
  display: none !important;
}

.-lockScroll {
  height: 100%;
  overflow-y: hidden;
}

.__corner_vertical_small {
  height: 1.6rem;
  width: 1.2rem;
  border: 1.32px solid #D8DADD;
  border-right-width: 0;
  border-top-width: 0;
}
.__corner_vertical_medium {
  height: 2.25rem;
  width: 1.6rem;
  border: 1.74px solid #D8DADD;
  border-right-width: 0;
  border-top-width: 0;
}
.__corner_horizontal_small {
  height: 0.6rem;
  width: 1.2rem;
  border: 1.32px solid #A4A7AA;
  border-right-width: 0;
  border-top-width: 0;
}

.__arrow_horizontal_small {
  height: 0.6rem;
  width: 1.6rem;
}
.__arrow_horizontal_medium {
  height: 1.2rem;
  width: 2.25rem;
}
.arrow-wrapper {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  overflow: hidden;
}
.arrow-wrapper img, .arrow-wrapper svg {
  transition: initial !important;
}

.__icon_X {
  font-family: "Orbitron", sans-serif;
}

.--parallex-img {
  aspect-ratio: 1/1;
}

.pageChangeContainer {
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  place-content: center;
  background-color: #57FF74;
  z-index: 11;
}
.pageChangeContainer p {
  max-width: 85vw;
  margin: 0;
  padding: 0;
  color: #F3F5F7;
  font-family: "Orbitron", sans-serif;
  font-size: 2.37rem;
  font-weight: 500;
  text-align: center;
  text-transform: lowercase;
}

#test-div {
  height: 100vh;
  width: 100%;
  border: 2px solid green;
}

#under-dev-banner {
  display: grid;
  position: fixed;
  width: 100%;
  place-content: center;
  padding: 1.2rem 0;
  bottom: 0;
  left: 0;
}
#under-dev-banner .text {
  color: #F3F5F7;
  animation: devBannerPulse 2s 1s ease-in-out infinite alternate;
}
@keyframes devBannerPulse {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.landing-header {
  display: flex;
  min-height: 76vh;
  width: 100%;
  padding: 1.6rem;
  background: rgba(207, 223, 239, 0.05);
  border-radius: 0.75rem;
  box-shadow: 0 4px 30px rgba(5, 11, 16, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.landing-header .inner-container {
  display: grid;
  grid-template-rows: 4rem minmax(414px, 100%) 4rem;
  grid-template: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.landing-header .inner-container .top-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.landing-header .inner-container .top-container .tagline {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  color: rgba(243, 245, 247, 0.75);
  letter-spacing: 0.05rem;
  font-family: "Metrophobic", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 130%;
}
.landing-header .inner-container .top-container .tagline > span svg rect {
  fill: rgba(255, 211, 121, 0.75);
}
.landing-header .inner-container .middle-container {
  display: grid;
  position: relative;
  height: 100%;
  max-width: 100%;
}
.landing-header .inner-container .middle-container strong {
  height: max-content;
  width: min-content;
  font-family: "Orbitron", sans-serif;
  font-size: 7rem;
  line-height: 1em;
  letter-spacing: 1rem;
  text-transform: uppercase;
  transform: scaleY(1.2);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.32px #A4A7AA;
  -webkit-background-clip: text;
}
.landing-header .inner-container .middle-container strong:last-of-type {
  justify-self: end;
  align-self: baseline;
}
.landing-header .inner-container .middle-container .blurb-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 0.6rem;
  top: 10%;
  right: 20%;
  color: #BEC0C3;
}
.landing-header .inner-container .arrows-container {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  left: 10%;
  padding: 0 0.4rem;
  -webkit-mask-image: linear-gradient(transparent 5%, #000, transparent 95%);
  mask-image: linear-gradient(transparent 5%, #000, transparent 95%);
  overflow: hidden;
}
.landing-header .inner-container .arrows-container .header-arrow {
  height: min-content;
  padding: 0.6rem 0;
}
.landing-header .inner-container .arrows-container:first-child {
  padding-top: 0;
}

.about-section-container {
  width: 100%;
}
.about-section-container .about-header-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 0.6rem;
}
.about-section-container .about-header-container .section-number-wrapper {
  width: max-content;
  align-self: flex-start;
  margin-top: 0.4rem;
  color: #8B8E91;
}
.about-section-container .about-header-container .section-title {
  display: inline-block;
  position: relative;
  width: min-content;
  color: #BEC0C3;
  line-height: 1;
}
.about-section-container .about-header-container .section-blurb {
  width: max-content;
  margin-bottom: 0.4rem;
  color: #A4A7AA;
  font-family: "Metrophobic", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 130%;
}
.about-section-container .about-middle-container {
  display: flex;
  position: relative;
  width: 100%;
  gap: 4rem;
  margin-top: 4rem;
  padding: 0 1.2rem;
}
.about-section-container .about-middle-container .about-photo-wrapper {
  min-height: 76vh;
  flex: 1;
  border: 1px solid red;
}
.about-section-container .about-middle-container .about-blurb-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-blurb {
  font-family: "Titillium Web", sans-serif;
  font-size: 3.16rem;
  line-height: 1.32;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-blurb span {
  color: #737679;
  transition: color 50ms ease-in-out;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-blurb span.--text-revealed {
  color: #F3F5F7;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  align-self: flex-end;
  padding-right: 1.2rem;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button .link-corner {
  transform: translateY(-1.5ch);
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button .button-text {
  position: relative;
  color: #BEC0C3;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.3rem;
  font-line-height: 1;
  transition: 200ms ease-in-out;
  overflow: hidden;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button .button-text::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: -105%;
  border: 1.32px solid #FFC857;
  transition: 250ms ease-in-out;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button .button-text::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 1.32px solid #A4A7AA;
  transition: 250ms ease-in-out;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button .__arrow_horizontal_medium {
  position: relative;
  transform: translateY(0.5ch);
  overflow: hidden;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button .__arrow_horizontal_medium svg {
  position: absolute;
  left: -100%;
  transition: 200ms ease-in-out;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button:hover .button-text {
  color: #FFC857;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button:hover .button-text::before {
  left: 0%;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button:hover .button-text::after {
  left: 105%;
}
.about-section-container .about-middle-container .about-blurb-wrapper .about-button:hover .__arrow_horizontal_medium svg {
  left: 0%;
}
.about-section-container .about-stack-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1.6rem;
}
.about-section-container .about-stack-container .my-stack-wrapper {
  display: flex;
  gap: 0.6rem;
  justify-self: flex-start;
}
.about-section-container .about-stack-container .my-stack-wrapper h3.stack-blurb {
  position: relative;
  color: #D8DADD;
  font-size: 2.37rem;
}
.about-section-container .about-stack-container .app-stack-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  padding: 0 5.25rem;
}
.about-section-container .about-stack-container .app-stack-container .app-stack-top, .about-section-container .about-stack-container .app-stack-container .app-stack-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.about-section-container .about-stack-container .app-container {
  display: flex;
  width: 5.25rem;
  flex-direction: column;
  gap: 0.6rem;
}
.about-section-container .about-stack-container .app-container .app-wrapper {
  display: flex;
  position: relative;
  height: 3rem;
  width: 5.25rem;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.6rem;
  background: rgba(207, 223, 239, 0.05);
  border-radius: 0.75rem;
  box-shadow: 0 4px 30px rgba(5, 11, 16, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.about-section-container .about-stack-container .app-container .app-wrapper img {
  opacity: 50%;
  transition: 250ms ease-in-out;
}
.about-section-container .about-stack-container .app-container .app-wrapper:hover img {
  opacity: 100%;
}
.about-section-container .about-stack-container .app-container .app-blurb-wrapper {
  display: flex;
  padding-left: 0.6rem;
}
.about-section-container .about-stack-container .app-container .app-blurb-wrapper .app-name {
  padding-left: 0.2rem;
  color: #A4A7AA;
  font-size: 0.75rem;
  white-space: nowrap;
}

.work-header-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 0.6rem;
}
.work-header-container .section-number-wrapper {
  width: max-content;
  align-self: flex-start;
  margin-top: 0.4rem;
  color: #8B8E91;
}
.work-header-container .section-title {
  display: inline-block;
  position: relative;
  width: min-content;
  color: #BEC0C3;
  line-height: 1;
}
.work-header-container .section-blurb {
  width: max-content;
  margin-bottom: 0.4rem;
  color: #A4A7AA;
  font-family: "Metrophobic", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 130%;
}

/*# sourceMappingURL=home.css.map */
