/* 26.4px */
/* 20px */
/* 15px */
/* 11px */
/* 26px */
/* 35.6px */
/* 47.4px */
/* 63.2px */
/* 84.2px */
/* 112.2px */
/* 20px */
/* 15px */
.navigation-top-c {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}
.navigation-top-c .header-cta-c {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 1.2rem;
  border: 1.32px solid #46494C;
  border-radius: 4px;
  transition: 250ms ease-in-out;
}
.navigation-top-c .header-cta-c .circle-w {
  position: relative;
  height: 0.6rem;
  width: 0.6rem;
  z-index: 2;
}
.navigation-top-c .header-cta-c .circle-w .circle-static {
  height: 100%;
  width: 100%;
  background-color: #FFC857;
  border-radius: 50%;
}
.navigation-top-c .header-cta-c .circle-w .circle-animated {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgb(255, 200, 87) 0%, rgba(255, 250, 238, 0) 100%);
  border-radius: 50%;
  z-index: -1;
  animation: pulseCircle 4s ease-in-out infinite;
}
@keyframes pulseCircle {
  0% {
    transform: scale(0.5);
    opacity: 100%;
  }
  50% {
    transform: scale(2);
  }
  85% {
    opacity: 0%;
  }
  100% {
    transform: scale(0.5);
    opacity: 100%;
  }
}
.navigation-top-c .header-cta-c:hover {
  border-color: #D8DADD;
}
.navigation-top-c .header-cta-c:hover .cta {
  color: #D8DADD;
}
.navigation-top-c .header-cta-c .cta {
  color: #A4A7AA;
  font-size: 0.75rem;
  transition: 250ms ease-in-out;
}
.navigation-top-c .logo-w {
  display: grid;
  position: absolute;
  place-content: center;
  left: calc(50% - 2.25rem);
  padding: 0.6rem 1.2rem;
}
.navigation-top-c .logo-w .header-logo {
  width: 2.25rem;
  opacity: 75%;
  transition: opacity 500ms ease-in-out;
}
.navigation-top-c .logo-w .header-logo:hover {
  opacity: 100%;
}
.navigation-top-c .header-menu-w {
  position: fixed;
  top: 1.2rem;
  right: 2.7rem;
  display: grid;
  height: 2.25rem;
  width: 3rem;
  place-content: center;
  border: 1.32px solid #46494C;
  border-radius: 4px;
  transition: 250ms ease-in-out;
  z-index: 100;
}
.navigation-top-c .header-menu-w:hover {
  border-color: #D8DADD;
}
.navigation-top-c .header-menu-w .svg_menu-icon {
  stroke: #A4A7AA;
  mix-blend-mode: exclusion;
}

.expanded-menu-c {
  display: flex;
  position: fixed;
  height: 100dvh;
  width: 100vw;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  left: 0;
  padding: 1.2rem 1.6rem;
  overflow: hidden;
  z-index: 100;
}
.expanded-menu-c .menu-c {
  display: flex;
  position: relative;
  min-width: 20vw;
  flex-direction: column;
  padding: 1.6rem 1.2rem 1.6rem 1.2rem;
  gap: 1.2rem;
  border-radius: 1rem;
  background: rgba(207, 223, 239, 0.05);
  box-shadow: 0 4px 30px rgba(5, 11, 16, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 101;
}
.expanded-menu-c .menu-c .menu-close-w {
  display: flex;
  position: relative;
  gap: 0.2rem;
  padding: 0 0.4rem 0.6rem 0.4rem;
  color: #A4A7AA;
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-close-w:hover {
  color: #D8DADD;
}
.expanded-menu-c .menu-c .menu-close-w .__divider_small {
  position: absolute;
  bottom: 0;
  left: 0;
}
.expanded-menu-c .menu-c .menu-page-links-c {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 0 1.6rem 0.6rem;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w {
  display: flex;
  gap: 0.4rem;
  flex: 1;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w .menu-page-link {
  position: relative;
  color: #D8DADD;
  font-size: 1.78rem;
  transition: 250ms ease-in-out;
  overflow: hidden;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w .menu-page-link::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: -105%;
  border-top: 0.05ch solid #FFC857;
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w .menu-page-link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 0.05ch solid #A4A7AA;
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w .menu-page-link:hover::before {
  left: 0%;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w .menu-page-link:hover::after {
  left: 105%;
}
.expanded-menu-c .menu-c .menu-page-links-c .menu-page-link-w .menu-number {
  color: #737679;
  font-size: 0.75rem;
}
.expanded-menu-c .menu-c .menu-page-links-c .__divider_small {
  position: absolute;
  bottom: 0;
  left: 0;
}
.expanded-menu-c .menu-c .menu-contact-c {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-socials-w {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1.2rem;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-socials-w .social-w {
  padding: 0.4rem;
  background: rgba(207, 223, 239, 0.05);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(5, 11, 16, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.expanded-menu-c .menu-c .menu-contact-c .menu-socials-w .social-w img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-socials-w .social-w .arrow-w {
  right: 0;
  top: 0;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-socials-w .social-w:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-contact-copy-button {
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  background: rgba(207, 223, 239, 0.05);
  box-shadow: 0 4px 30px rgba(5, 11, 16, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-contact-copy-button path {
  fill: #A4A7AA;
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-contact-copy-button:hover path {
  fill: #D8DADD;
  transition: 500ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w {
  display: flex;
  position: relative;
  justify-content: center;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .menu-email {
  position: relative;
  color: #BEC0C3;
  transition: 250ms ease-in-out;
  overflow: hidden;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .menu-email::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: -105%;
  border-top: 0.05ch solid #FFC857;
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .menu-email::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 0.05ch solid #A4A7AA;
  transition: 250ms ease-in-out;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .menu-email:hover {
  color: #EEF4FF;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .menu-email:hover::before {
  left: 0%;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .menu-email:hover::after {
  left: 105%;
}
.expanded-menu-c .menu-c .menu-contact-c .menu-email-c .menu-email-w .arrow-w {
  position: absolute;
  right: -0.75ch;
  top: 0;
}
.expanded-menu-c .menu-selection-c {
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  place-content: center;
  top: 0;
  left: 0;
  opacity: 0%;
  z-index: 100;
}
.expanded-menu-c .menu-selection-c .menu-selection-w {
  display: flex;
}
.expanded-menu-c .menu-selection-c .menu-selection-w .menu-selection {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.32px #A4A7AA;
  font-family: "Orbitron", sans-serif;
  font-size: 5.61rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.expanded-menu-c .menu-selection-c .menu-selection-w .menu-selection-cursor {
  color: #A4A7AA;
  opacity: 0;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
  font-family: "Orbitron", sans-serif;
  font-size: 5.61rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.expanded-menu-c .expanded-menu-background-c {
  display: grid;
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  grid-auto-flow: column;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}
.expanded-menu-c .expanded-menu-background-c .menu-background-bar {
  height: 100%;
  width: 100%;
  transform-origin: 50% 0%;
  background-color: #050B10;
  transform: scaleY(0%);
  visibility: visible;
  z-index: 1;
}

/*# sourceMappingURL=navigation.css.map */
