<section class="sectionWrapper">
    <h2>Overview</h2>
    <p>My project is designing and developing my personal portfolio website. The scope of this project will involve the homepage and the blog page where blogs like these will be located.</p>
</section>