<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ cssSrc }}">
    {% include "head.njk" %}
    <!-- ** Scripts -->
    {% include "scripts.njk" %}
  </head>
  <body>
    <!-- ** Fixed references -->
    <div id="fixedReference"></div>
    {% include "navigation.njk" %}
    <main>{% block content %} {{ content | safe }} {% endblock %}</main>
    {% include "footer.njk" %}
  </body>
  <script content-type="text/javascript" src="{{ jsSrcBase }}"></script>
  <script content-type="text/javascript" src="{{ jsSrc }}"></script>
</html> 