<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ cssSrc }}">
    {% include "head.njk" %}
    <!-- ** Scripts -->
    {% include "scripts.njk" %}
  </head>
  <body id="body">
    {# Fixed reference #}
    <div id="fixedReference"></div>
    {# Cursor #}
    <div class="__cursor">
      <div class="__cursor-wrapper">
        <p class="__cursor-text"></p>
        <svg class="__cursor-ball" height="14" width="14">
          <circle cx="7" cy="7" r="6" stroke-width="0"></circle>
        </svg>
      </div>
    </div>
    <div class="__cursor-outer">
      <svg height="50" width="50">
        <circle class="__cursor-outer-circle" cx="25" cy="25" r="24"></circle>
      </svg>
    </div>
    {# Page change #}
    <div class="pageChangeContainer contain">
        <p id="pageChangeText">{{ name if name else title }}</p>
    </div>
    {% include "partials/navigation.njk" %}
    <main class="--overlap-section">{% block content %} {{ content | safe }} {% endblock %}</main>
    {% include 'partials/footer.njk' %}
  </body>
  <script content-type="text/javascript" src="{{ jsSrcBase }}"></script>
  <script content-type="text/javascript" src="{{ jsSrc }}"></script>
</html> 