---
layout: 'base.njk'
jsSrc: ../assets/js/blogPage.js
jsSrcBase: ../assets/js/base.js
cssSrc: ../css/blogPost.css
---
<!-- ** Page change animation in -->
<div class="pageChangeIn-container -contain">
  <p>{{ title }}</p>
</div>
<!-- ** Page change animation out -->
<div class="pageChangeOut-container -contain">
  <p id="pageChange-text">{{ title }}</p>
</div>
<!-- ** MAIN -->
{# !! CHANGE DIV #}
<header class="-margin-huTop">
  <h1><span class="-animated-bounceIn">{{ title }}</span><br></h1>
  <div class="-margin-mdTop -wrap">
        <div class="-animated-expandRight-wrapper -button-2-wrapper">
            <div class="-button-2 -button-2-active"><span class="-animated-expandRight">back</span></div>
            <div class="-button-2"><span class="-animated-expandRight">{{ published }}</span></div>
        </div>
    </div>
</header>
<article class="blog-articleWrapper -margin-xlTop  -padding-xl-rl -wrap">
  <div class="articleHeroWrapper -padding-md -wrap"><img class="articleHero-img -margin-mdTop -img-shadow-rg -animated-scaleUp" src="{{ blogThumbnail }}" alt="{{ blogThumbnailAlt }}">
  </div>
  {% block content %} {{ content | safe }} {% endblock %}
</article>