---
layout: 'base.njk'
permalink: blogPosts/{{ title | slugify}}.html
jsSrc: ../assets/js/blogPage.js
jsSrcBase: ../assets/js/base.js
cssSrc: ../css/blogPost.css
---
<!-- ** Page change animation in -->
<div class="pageChangeIn-container -contain">
  <p>{{ title }}</p>
</div>
<!-- ** Page change animation out -->
<div class="pageChangeOut-container -contain">
  <p id="pageChange-text">{{ title }}</p>
</div>
<!-- ** MAIN -->
{# !! CHANGE DIV #}
<header class="-margin-huTop">
  <h1><span class="-animated-bounceIn">{{ title }}</span><br></h1>
  <div class="-margin-mdTop -wrap">
        <div class="-animated-expandRight-wrapper -button-2-wrapper">
            <div class="-button-2 -button-2-active"><span class="-animated-expandRight">back</span></div>
            <div class="-button-2"><span class="-animated-expandRight">{{ published }}</span></div>
        </div>
    </div>
</header>
<article class="blog-articleWrapper -margin-xlTop  -padding-xl-rl -wrap">
  <div class="articleHeroWrapper -padding-md -wrap">
    <img class="articleHero-img -margin-mdTop -img-shadow-rg -animated-scaleUp" src="{{ blogThumbnail }}" alt="{{ blogThumbnailAlt }}"></div>
  <section class="sectionWrapper">
      <h2>Introduction</h2>
      <p>This week, I began and worked through the ideation and research phases of my project. I used the online project management tool Asana to organize the phases of the project.</p>
      <figure class="articleFigure"><img class="-img-shadow-rg" src="Assets/Images/Blogs/Thumbnails/Blog update 1.png" alt="The project's timeline">
          <label class="-sm-em">The project's timeline</label>
      </figure>
  </section>
  <section class="sectionWrapper">
      <h2>Progress update</h2>
      <p>For the research and ideation phase I used ChatGPT to assist in my researching efforts. I utilized ChatGPT to help me focus on establishing a solid framework for further research by asking the AI to create me a skeleton outline of topics to help guide my research. ChatGPT provided the following topics to help guide my research for this project:
          <ol class="-ordered-list -margin-xl-rl">
              <li>Intent</li>
              <li>Audience</li>
              <li><ol class="-ordered-list -list-head">Research benchmarks
                  <li class="-margin-lg-rl">What the project <em>must</em> have</li>
                  <li class="-margin-lg-rl">What the project <em>should</em> have</li>
                  <li class="-margin-lg-rl">What the project <em>can</em> have</li>
              </ol></li>
              <li><ol class="-ordered-list -list-head">Design and layout
                  <li class="-margin-lg-rl">Brand and style</li>
                  <li class="-margin-lg-rl">Layout and structure</li>
                  <li class="-margin-lg-rl">Colors</li>
                  <li class="-margin-lg-rl">Typography</li>
              </ol></li>
              <li><ol class="-ordered-list -list-head">Technology stack
                  <li class="-margin-lg-rl">VS Code</li>
                  <li class="-margin-lg-rl">Figma</li>
                  <li class="-margin-lg-rl">Discord (Midjourney Bot)</li>
                  <li class="-margin-lg-rl">ChatGPT</li>
                  <li class="-margin-lg-rl">Adobe Firefly</li>
                  <li class="-margin-lg-rl">Adobe Illustrator</li>
                  <li class="-margin-lg-rl"><em>Adobe After Effects</em></li>
                  <li class="-margin-lg-rl">GitHub</li>
                  <li class="-margin-lg-rl">Git</li>
                  <li class="-margin-lg-rl"><em>11ty*</em></li>
              </ol></li>
              <li class="-no-list"><em>Items marked with '*' may or may not be used</em></li>
              <li>Sitemap</li>
              <li>SEO considerations</li>
          </ol>
          <p>I used Figma to create some additional resources to better help visualize my research. Here is a visual of the sitemap I am planning on using:</p>
          <figure class="articleFigure"><img class="-img-shadow-rg" src="Images/Blogs/Blog update 1/Sitemap.png" alt="The site's sitemap">
              <label class="-sm-em">The site's sitemap</label>
          </figure>
      </p>
  </section>
  <section class="sectionWrapper">
      <h2>Challenges faced</h2>
      <p>Project scope and allotted time are two related pieces of this project that I am working through figuring out. I need to limit the scope of the project with respect to the time we are allotted to complete this project. This website will be used practically for real-world application to represent my work as a multimedia designer and web developer, however, for the scope of this project, I will need to limit my focus to areas of the site. Trying to complete a project of this scale in its entirety with the time we are allotted is not reasonable.</p>&nbsp;
      <p>The challenge I am facing is trying to determine what I want to limit the scope to. I am initially thinking of focusing on the blog page and homepage of the site. These two pages make the most sense for this project since these pages will be the main pages accessed by site visitors associated with this class project.</p>
  </section>
  <section class="sectionWrapper">
      <h2>Progress Update</h2>
      <p>For the research and ideation phase I used ChatGPT to assist in my researching efforts. I utilized ChatGPT to help me focus on establishing a solid framework for further research by asking the AI to create me a skeleton outline of topics to help guide my research. ChatGPT provided the following topics to help guide my research for this project:
          <ol class="-ordered-list -margin-xl-rl">
              <li>Color</li>
              <li>Typography</li>
              <li>Layout</li>
              <li>Spacing</li>
              <li>Visual hierachy elements</li>
          </ol>
      </p>
  </section>
  <section class="sectionWrapper">
      <h2>Conclusion</h2>
      <p>I am excited to work on this project and am thankful to have the opportunity to update the progress along the way using my integrated blog page. If you have any concerns or questions, please feel free to reach out to me. Next week's blog will include more site design content and development.</p>
  </section>
</article>