<footer class="-margin-huTop">
    <div class="footer-top">
        <div class="fT-contactAside">
            <div class="fT-contactAsideWrapper">
                <div class="fTContactAsidePhotoWrapper"><img id="profilePhoto" src=""></div>
                <div class="fTContactAsideButtonWrapper"><button class="fTContactAside-button phone -button-1">
                    <i class="fa-solid fa-phone"></i>
                </button></div>
                <div class="fTContactAsideButtonWrapper"><button class="fTContactAside-button email -button-1">
                    <i class="fa-solid fa-envelope"></i>
                </button></div>
            </div>
        </div>
        <div class="fT-contact">
            <a class="fTContact-link">
                <div class="fTContactLink-wrapper">
                    <div class="fTContactLink-wrapper-2 -wrap">
                        <div class="fTContact-text">Let's work together</div>
                        <div class="fTContact-arrow -wrap">
                            <div id="footerContactArrow-1"><i class="fa-solid fa-arrow-right"></i></div>
                            <div id="footerContactArrow-2"><i id="arrow2" class="fa-solid fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="fTContact-underline"><div id="footerContactUnderline"></div></div>
                </div>
            </a>
        </div>
    </div>
    <div class="footer-middle">
        <div class="socials">Socials</div>
        <div class="siteLinks">siteLinks</div>
    </div>
    <div class="footer-bottom">
        <a  href=".index.html"><img id="homeButton-img" src="https://picsum.photos/62" alt="Logo"></a>
        <p>Copyright</p>
    </div>
</footer>