<meta name="description" content="A personal portfolio website showcasing design and development skills.">
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0">
<link rel="icon" href="">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">