// ** ----------------------------------------
// ** SASS VARIABLES
// ** ----------------------------------------

// * FONTS
// Family
$font-family-display: 'Orbitron', sans-serif;
$font-family-heading: 'Quicksand', sans-serif;
$font-family-body: 'Quattrocento Sans', sans-serif;
// Size
$font-size-4: 0.25rem;       /* 6px */
$font-size-3: 0.3333rem;     /* 8px */
$font-size-2: 0.5rem;        /* 12px */
$font-size-1: 0.7083rem;     /* 17px */
$font-size0: 1rem;           /* 24px */
$font-size1: 1.4167rem;      /* 34px */
$font-size2: 2rem;           /* 48px */
$font-size3: 2.8333rem;      /* 68px */
$font-size4: 3.9583rem;      /* 95px */
$font-size5: 5.625rem;       /* 135px */
$font-size6: 7.9583rem;      /* 191px */
$font-size7: 11.2917rem;     /* 271px */
// Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
// Line height
$font-lineHeight-150: 1.5;
$font-lineHeight-110: 1.1;
$font-lineHeight-100: 1;
// Letter spacing
$font-spacing-increased: 7%;
$font-spacing-decreased: -7%;

// * COLORS
// Background and base
$white: #FFF;
$black: #000;
$background-light-light: #F1F6F9;
$background-light-dark: #141301;
$background-dark-light: #FEFDEC;
$background-dark-dark: #060B0E;
// Grey
$grey-veryLight: #E4E8EA;
$grey-light: #E4E8EA;
$grey-dark: #D6DADA;
$grey-veryDark: #BABEBB;
// Primary and secondary
$primary-light-main: #168AB8;
$primary-light-light: #84C0D9;
$primary-light-dark: #154F5D;
$primary-dark-main: #48BCEA;
$primary-dark-light: #A4DCEA;
$primary-dark-dark: #26637D;
$secondary-light-main: #E6E073;
$secondary-light-light: #ECEBB6;
$secondary-light-dark: #7D7A3A;
$secondary-dark-main: #8B8518;
$secondary-dark-light: #C5C281;
$secondary-dark-dark: #494813;
// Accent
$accent-light-green: #32853F;
$accent-light-red: #BA2D0B;
$accent-light-blue: #2A1E5C;
$accent-light-purple: #694873;
$accent-dark-green: #7ACD86;
$accent-dark-red: #F46643;
$accent-dark-blue: #AFA3E1;
$accent-dark-purple: #AC8BB6;
// State
$state-info: #84C0D9;
$state-success: #53BF32;
$state-warning: #C97636;
$state-error: #B50238;

// * DIMENSIONS
$dimension-small: 2.6667rem;        // 64px
$dimension-small-plus: 3.75rem;     // 90px
$dimension-medium: 5.2917rem;      // 127px
$dimension-medium-plus: 7.5rem;    // 180px
$dimension-large: 10.5833rem;     // 254px
$dimension-large-plus: 15rem;      // 360px
$dimension-huge: 21.2083rem;       // 509px
$dimension-huge-plus: 30rem;       // 720px
$dimension-massive: 45rem;         // 1080px
$dimension-massive: 60rem;         // 1440px

// * GRID
$grid-gap-tiny: $font-size-2;
$grid-grap-small: $font-size1;
$grid-gap-regular: $font-size2;

// * MARGIN AND PADDING
// Margin
$margin-tiny: $font-size-4;        //
$margin-tiny-plus: $font-size-3;   //
$margin-small: $font-size-2;       //
$margin-small-plus: $font-size-1;  //
$margin-regular: $font-size0;      //
$margin-regular-plus: $font-size1; //
$margin-medium: $font-size2;       // 48px
$margin-medium-plus: $font-size3;  //
$margin-large: $font-size4;        //
$margin-large-plus: $font-size5;   //
$margin-huge: $font-size6;         // 
$margin-huge-plus: $font-size7;    // 
// Padding
$padding-tiny: $font-size-4;
$padding-tiny-plus: $font-size-3;
$padding-small: $font-size-2;
$padding-small-plus: $font-size-1;
$padding-regular: $font-size0;
$padding-regular-plus: $font-size1;
$padding-medium: $font-size2;       // 48px
$padding-medium-plus: $font-size3;
$padding-large: $font-size4;
$padding-large-plus: $font-size5;
$padding-huge: $font-size6;
$padding-huge-plus: $font-size7;

// * BORDER
// Radius
$border-radius-tiny: 0.25rem;
$border-radius-small: 0.5rem;
$border-radius-regular: 1rem;
$border-radius-medium: 1.414rem;
$border-radius-large: 2rem;
$border-radius-50: 50%;
$border-radius-100: 100%;
// Width
$border-width-small: 0.05rem;
$border-width-medium: 0.1rem;
$border-width-large: 0.25rem;

// ** ----------------------------------------
// ** MIXINS
// ** ----------------------------------------

@mixin border($type, $color) {
    @if $type == small && $color == light {
        border-top: $border-width-small solid $background-light-light;
        border-bottom: $border-width-small solid $background-light-light;
    }

    @else if $type == small && $color == dark {
        border-top: $border-width-small solid $background-light-dark;
        border-bottom: $border-width-small solid $background-light-dark;
    }

    @else if $type == small-all && $color == light {
        border: $border-width-small solid $background-light-light;
    }

    @else if $type == small-all && $color == dark {
        border: $border-width-small solid $background-light-dark;
    }

    @else if $type == medium && $color == dark {
        border-top: $border-width-medium solid $background-light-dark;
        border-bottom: $border-width-medium solid $background-light-dark;
    }

    @else if $type == medium-all && $color == dark {
        border: $border-width-medium solid $background-light-dark;
    }
}

@mixin border-radius($type) {
    @if $type == 1 {
        border-top-left-radius: $border-radius-tiny;
        border-top-right-radius: $border-radius-tiny;
        border-bottom-right-radius: $border-radius-tiny;
        border-bottom-left-radius: $border-radius-regular;
    }

    @else if $type == 2 {
        border-bottom-right-radius: $border-radius-medium;
        border-bottom-left-radius: $border-radius-medium;
    }

    @else if $type == 3 {
        border-radius: $font-size2 $font-size1;
    }

    @else if $type == 4 {
        border-radius: $font-size0 0px $font-size2 $font-size0;
    }
}


@mixin box-shadow($x, $y, $blur, $c) {
    -webkit-box-shadow: $x $y $blur $c;
    -moz-box-shadow: $x $y $blur $c;
    -ms-box-shadow: $x $y $blur $c;
    box-shadow: $x $y $blur $c;
}