// * INIT
@use 'sass:math';

// ** ----------------------------------------
// ** SASS VARIABLES
// ** ----------------------------------------

// * SIZING
$size-1px: 1.414px;                /* 1px */
$size-2px: 2px;                    /* 2px */
$size-0_17: 0.17rem;               /* 4px */
$size-0_25: 0.25rem;               /* 6px */
$size-0_32: 0.3333rem;             /* 8px */
$size-0_50: 0.5rem;                /* 12px */
$size-0_70: 0.7083rem;             /* 17px */
$size-1_00: 1rem;                  /* 24px */
$size-1_41: 1.4167rem;             /* 34px */
$size-2_00: 2rem;                  /* 48px */
$size-2_83: 2.8333rem;             /* 68px */
$size-3_95: 3.9583rem;             /* 95px */
$size-5_62: 5.625rem;              /* 135px */
$size-7_95: 7.9583rem;             /* 191px */
$size-11_29: 11.2917rem;           /* 271px */
$size-15_20: 15.20rem;             /* 365px */

// * VIEWPORT DIMENSIONS
// VIEW HEIGHT
$vh-17_65: 17.65vh;                // 181px
$vh-24_98: 24.98vh;                // 255px
$vh-35_34: 35.34vh;                // 361px
$vh-49_98: 49.98vh;                // 511px
$vh-70_7: 70.70vh;                 // 723px
$vh-100: 100vh;                    // 1024px

// VIEW WIDTH
$vw-17_65: 17.65vw;                // 254px
$vw-24_98: 24.98vw;                // 359px
$vw-35_34: 35.34vw;                // 508px
$vw-49_98: 49.98vw;                // 719px
$vw-70_7: 70.70vw;                 // 1019px
$vw-100: 100vw;                    // 1440px

// * GRID
$grid-gap-4px: 4px;                // 4px
$grid-gap-tiny: $size-0_50;        // 12px
$grid-gap-regular: $size-1_00;     // 24px
$grid-grap-small: $size-1_41;      // 34px
$grid-gap-medium: $size-2_00;      // 48px
$grid-gap-large: $size-2_83;       // 68px
$grid-gap-huge: $size-5_62;        // 135px

// * MARGIN AND PADDING
// Margin
$margin-tiny: $size-0_25;          // 6px
$margin-tiny-plus: $size-0_32;     // 8px
$margin-small: $size-0_50;         // 12px 
$margin-small-plus: $size-0_70;    // 17px 
$margin-regular: $size-1_00;       // 24px 
$margin-regular-plus: $size-1_41;  // 32px
$margin-medium: $size-2_00;        // 48px
$margin-medium-plus: $size-2_83;   // 68px
$margin-large: $size-3_95;         // 95px
$margin-large-plus: $size-5_62;    // 135px
$margin-huge: $size-7_95;          // 191px
$margin-huge-plus: $size-11_29;    // 271px
// Padding
$padding-tiny: $size-0_25;         // 6px
$padding-tiny-plus: $size-0_32;    // 8px
$padding-small: $size-0_50;        // 12px 
$padding-small-plus: $size-0_70;   // 17px 
$padding-regular: $size-1_00;      // 24px 
$padding-regular-plus: $size-1_41; // 32px
$padding-medium: $size-2_00;       // 48px
$padding-medium-plus: $size-2_83;  // 68px
$padding-large: $size-3_95;        // 95px
$padding-large-plus: $size-5_62;   // 135px
$padding-huge: $size-7_95;         // 191px
$padding-huge-plus: $size-11_29;   // 271px

// * COLORS
// Primary and secondary
$primary: #0047E0;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 15%);
$secondary: #FFC857;
$secondary-light: lighten($secondary, 15%);
$secondary-dark: darken($secondary, 15%);
// Background and base
$white: #FFF;
$black: #000;
$background-light: #F3F5F7;
$background-dark: #050B10;
// Accent
$accent-heading: #4C609C;
$accent-subheading: #4C609C;
$accent-purple: #7D1D9A;
// Gray
$gray-light: #D0DFF3;
$gray-dark: #596470;
// State
$state-info: #84C0D9;
$state-success: #16B475;
$state-warning: #E5CF00;
$state-error: #BF5943;
// Overlay
$overlay: transparentize($gray-dark, 0.5);
// Box shadow
$box-shadow: transparentize($gray-light, 0.85);

// * BORDER
// Radius
$border-radius-tiny: $size-0_25;   // 6px
$border-radius-small: $size-0_50;  // 12px
$border-radius-regular: $size-1_00;// 24px
$border-radius-medium: $size-1_41; // 34px
$border-radius-large: $size-2_00;  // 48px
$border-radius-50: 50%;            // 50%
$border-radius-100: 100%;          // 100%
// Width
$border-width-small: $size-1px;    // 1.414px
$border-width-small-plus: $size-2px; // 2px
$border-width-medium: $size-0_17;  // 4px
$border-width-large: $size-0_25;   // 6px

// * FONTS
// Family
$font-family-display: 'Orbitron', sans-serif;
$font-family-heading: 'Titillium Web', sans-serif;
$font-family-body: 'Metrophobic', sans-serif;
// Size
$font-size-2: 0.5rem;        /* 12px */
$font-size-1: 0.7083rem;     /* 17px */
$font-size0: 1rem;           /* 24px */
$font-size1: 1.4167rem;      /* 34px */
$font-size2: 2rem;           /* 48px */
$font-size3: 2.8333rem;      /* 68px */
$font-size4: 3.9583rem;      /* 95px */
$font-size5: 5.625rem;       /* 135px */
$font-size6: 7.9583rem;      /* 191px */
$font-size7: 11.2917rem;     /* 271px */
// Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
// Line height
$font-lineHeight-150: 1.5;
$font-lineHeight-110: 1.1;
$font-lineHeight-100: 1;
// Letter spacing
$font-spacing-increased: 7%;
$font-spacing-decreased: -7%;

// * OPACITY
$opacity-low: 14%;
$opacity-medium: 50%;
$opacity-high: 85%;

// ** ----------------------------------------
// ** MIXINS
// ** ----------------------------------------

// ** FONT

// * Body font style
@mixin bodyStyle {
    font-family: $font-family-body;
    letter-spacing: 0;
    line-height: 150%;
    text-indent: $size-2_00;
}

// * Title blocks
@mixin title-font {
    font-family: $font-family-display;
    font-size: $font-size5;
    font-weight: $font-weight-bold;
    letter-spacing: $font-spacing-increased;
}

// * Links
@mixin link-style($type) {
    @if $type == 1 {
        color: $background-light;
        text-align: center;
        font-family: $font-family-body;
        font-size: $font-size0;
        font-style: normal;
        font-weight: $font-weight-medium;
    }
}

// ** EFFECTS

@mixin box-shadow($x, $y, $spread, $blur, $c) {
    -webkit-box-shadow: $x $y $spread $blur $c;
    -moz-box-shadow: $x $y $spread $blur $c;
    -ms-box-shadow: $x $y $spread $blur $c;
    box-shadow: $x $y $spread $blur $c;
}

// !! TESTING

@mixin wireframe {
    border: 2px solid red;
}