// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";

// ?? ----------------------------------------
// ?? GLOBAL ELEMENTS
// ?? ----------------------------------------

*, *::before, *::after {
    box-sizing: border-box;
    cursor: none;
}

* {
    margin: 0;
    scrollbar-width: none !important;
}

html {
    height: 100%;
    font-size:clamp(16px, 0.45vw + 0.89rem, 20px);
    line-height: 1.5;
}

body {
    position: relative;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0 base.$padding-global-rl;
    background-color: base.$dark;
    color: base.$gray-25;
    font-family: base.$font-family-body;
    font-size: base.$font-size_body;
    kerning: auto;
    font-kerning: auto;
    overflow-x: hidden;
    animation: body-background 5s ease-in-out infinite;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
    font-family: base.$font-family-heading;
    line-height: base.$font-lineHeight_132;
}

h1 {
    font-size: base.$font-size_h1;
    font-weight: base.$font-weight_bold;
}

h2 {
    font-size: base.$font-size_h2;
    font-weight: base.$font-weight_semiBold;
}

h3 {
    font-size: base.$font-size_h3;
    font-weight: base.$font-weight_medium;
}

h4 {
    font-size: base.$font-size_h4;
    font-weight: base.$font-weight_normal;
}

h5 {
    font-size: base.$font-size_h5;
    font-weight: base.$font-weight_normal;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

small {
    font-size: base.$font-size_body-small;
}

a, button {
    all: unset;
}

ul.-no-list, ol.-no-list {
    all: unset;

    li {
        all: unset;
    }
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

// ** ----------------------------------------
// ** FIXED
// ** ----------------------------------------

// * ---- Background mesh gradient ----

#gradient-canvas {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    --gradient-color-1: #2a2a29;
    --gradient-color-2: #050a10;
    --gradient-color-3: #050a10;
    --gradient-color-4: #050a10;
    z-index: -1;
}

// * ---- Viewport reference ----

#viewport {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

// * ---- Cursor ----

.__cursor {
    position: fixed;
    display: flex;
    top: -6px;
    left: -7px;
    pointer-events: none;
    mix-blend-mode: exclusion;
    z-index: 500;

    .__cursor-ball {
        fill: base.$primary-900;
    }
}

.__cursor-outer {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: exclusion;
    z-index: 499;

    circle {
        fill: transparent;
        stroke: base.$primary-900;
        stroke-width: 1px;
    }
}

// * ---- Scroll progress bar ----

#scroll-progress {
    position: fixed;
    height: 0;
    width: 1.32px;
    top: 0;
    left: 0;
    background-color: rgba(base.$primary-900, 0.5);
}

// ?? ----------------------------------------
// ?? GLOBAL CLASSES
// ?? ----------------------------------------

// * ---- Spacers and dividers ----

.__spacer {

    &_tiny {
        height: base.$external-45px;
        width: 100%;
        background: transparent;
    }

    &_small {
        height: base.$external-60px;
        width: 100%;
        background: transparent;
    }

    &_regular {
        height: base.$external-80px;
        width: 100%;
        background: transparent;
    }

    &_large {
        height: base.$external-140px;
        width: 100%;
        background: transparent;
    }
}

.__divider {

    &_small {
        height: 1.32px;
        width: 100%;
        background-color: base.$gray-500;
        opacity: base.$opacity_medium;
        transition: base.$animation_speed_regular
    }

    &_medium {
        height: 2px;
        width: 100%;
        background-color: base.$gray-500;
        opacity: base.$opacity_medium;
        transition: base.$animation_speed_regular
    }
}

// * ---- / ----

// Display hide
.-inactive {
    display: none !important;
}

// Lock scroll
.-lockScroll {
    height: 100%;
    overflow-y: hidden;
}

// ** STYLES

// ?? ----------------------------------------
// ?? ELEMENTS
// ?? ----------------------------------------

// Inline emphasis
.-inline-emphasize {
    font: {
        style: italic;
        weight: base.$font-weight_bold;
    }
}

// ** ----------------------------------------
// ** ICONS
// ** ----------------------------------------

// Accents
.__corner  {
    &_vertical {
        &_small {
            height: base.$internal-32px;
            width: base.$internal-24px;
            border: base.$border-width_132 solid base.$gray-100;
            border: {
                right-width: 0;
                top-width: 0;
            }
        }
        &_medium {
            height: base.$external-45px;
            width: base.$internal-32px;
            border: base.$border-width_174 solid base.$gray-100;
            border: {
                right-width: 0;
                top-width: 0;
            }
        }
        &_large {

        }
    }
    &_horizontal {

        &_small_wrapper {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .__inner-corner {
                height: base.$internal-12px;
                width: base.$internal-24px;
                border: base.$border-width_132 solid base.$gray-100;
                border: {
                    right-width: 0;
                    top-width: 0;
                }
            }
        }

        &_medium_wrapper {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .__inner-corner {
                height: base.$internal-24px;
                width: base.$internal-32px;
                border: base.$border-width_132 solid base.$gray-100;
                border: {
                    right-width: 0;
                    top-width: 0;
                }
            }
        }

        &_large_wrapper {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .__inner-corner {
                height: base.$internal-32px;
                width: base.$external-45px;
                border: base.$border-width_229 solid base.$gray-100;
                border: {
                    right-width: 0;
                    top-width: 0;
                }
            }
        }
    }
}

// Arrows
.__arrow {
    &_horizontal {
        &_small {
            height: base.$internal-12px;
            width: base.$internal-32px;
        }
        &_medium {
            height: base.$internal-24px;
            width: base.$external-45px;
        }
    }

    &_diagonal {

    }
}

.arrow-w {
    position: absolute;
    right: base.$internal-8px;
    top: base.$internal-8px;
    overflow: hidden;

    img, svg {
        transition: initial !important;
    }
}

// Close 'X'
.__icon_X {
    font-family: base.$font-family-display;
}

// ?? ----------------------------------------
// ?? INTERACTIVE
// ?? ----------------------------------------

// ** ----------------------------------------
// ** SYMBOLS
// ** ----------------------------------------

// ** ----------------------------------------
// ** ICONS
// ** ----------------------------------------

// ** ----------------------------------------
// ** LINKS
// ** ----------------------------------------

// ** ----------------------------------------
// ** BUTTONS
// ** ----------------------------------------

// ?? ----------------------------------------
// ?? ANIMATION
// ?? ----------------------------------------

// * Parallex images

.--parallex-img {
    aspect-ratio: 1 / 1;
}

// * Page change

.pageChangeContainer {
    display: grid;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    place-content: center;
    background-color: base.$success-500;
    z-index: 11;

    p {
        max-width: 85vw;
        margin: 0;
        padding: 0;
        color: base.$light;
        font-family: base.$font-family-display;
        font-size: base.$font-size_h4;
        font-weight: base.$font-weight_medium;
        text-align: center;
        text-transform: lowercase;
    }
}

// ?? ----------------------------------------
// ?? MISCELLANEOUS AND TESTING
// ?? ----------------------------------------

#test-div {
    height: 100vh;
    width: 100%;
    border: 2px solid green;
}

#under-dev-banner {
    display: grid;
    position: fixed;
    width: 100%;
    place-content: center;
    padding: base.$internal-24px 0;
    bottom: 0;
    left: 0;

    .text {
        color: base.$light;
        animation: devBannerPulse 2s 1s ease-in-out infinite alternate;
    }

    @keyframes devBannerPulse {
        from {
            opacity: 100%;
        }

        to {
            opacity: 0%;
        }
    }
}