// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";

// ** ----------------------------------------
// ** GLOBAL ELEMENTS
// ** ----------------------------------------

* {
    box-sizing: border-box;
    cursor: none;
}

html {
    height: 100%;
    font-size: clamp(16px, calc(16px + 4 * ((100vw - 320px) / 700)), 24px);
    line-height: 1.5;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: base.$background-light;
    color: base.$background-dark;
    font-family: base.$font-family-body;
    font-size: base.$font-size0;
    kerning: auto;
    font-kerning: auto;
    overflow-x: hidden;
}

main {
    position: relative;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: base.$font-family-heading;
    line-height: base.$font-lineHeight-110;
}

h1 {
    font-size: base.$font-size5;
    font-weight: base.$font-weight-bold;
}

h2 {
    font-size: base.$font-size4;
    font-weight: base.$font-weight-semiBold;
}

h3 {
    font-size: base.$font-size3;
    font-weight: base.$font-weight-medium;
}

h4 {
    font-size: base.$font-size2;
    font-weight: base.$font-weight-normal;
}

h5 {
    font-size: base.$font-size1;
    font-weight: base.$font-weight-normal;
}

small,
.text_small {
    font-size: base.$font-size-1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    text-align: match-parent;
}

a {
    all: unset;
}

button {
    border: none;
    background-color: transparent;
}

img {
    border: none;
    outline: none;
}

// ** ----------------------------------------
// ** CURSOR
// ** ----------------------------------------

.__cursor {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100;

    &-wrapper {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .__cursor-ball {
            fill: base.$secondary;
        }

        .__cursor-text {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            font-weight: base.$font-weight-semiBold;
            white-space: nowrap;
            transform: translate(-130%, -25%);
            opacity: 0;
            z-index: 101;
        }
    }
}

.__cursor-outer {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100;

    circle {
        fill: transparent;
        stroke: base.$secondary;
        stroke-width: 2px;
    }
}

// ?? ----------------------------------------
// ?? GLOBAL CLASSES
// ?? ----------------------------------------

// * Containers and wrappers

.-contain {
    min-height: 100vh;
    width: 100%;
}

.-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.-wrap-center {
    display: grid;
    place-content: center;
    @extend .-wrap;
}

// * Display hide

.-inactive {
    display: none !important;
}

// * Lock scroll

.-lockScroll {
    height: 100%;
    overflow-y: hidden;
}

// ** STYLES

// Remove list style

.-no-list {
    list-style: none;
}

// Ordered list

.-ordered-list {
    list-style: decimal;

    .list-head {
        list-style: circle;
    }
}

// Paragraph indent

.-paragraph-indent {
    text-indent: base.$size-2_00;
}

// Small emphasis

.-sm-em {
    font-style: italic;
}

// Small bold

.-sm-bd {
    font-size: base.$font-size-2;
    font-weight: base.$font-weight-bold;
    letter-spacing: 1.2;
    text-transform: uppercase;
}

// ?? ----------------------------------------
// ?? ELEMENTS
// ?? ----------------------------------------

// * Divider

.__divider {

    &_light {
        display: flex;
        width: 100%;
        border-radius: base.$border-radius-regular;
        background: base.$gray-light;

        &_thin {
            &-small {
                height: 1.414px;
                max-width: base.$vw-35_34;
                @extend .__divider_light;
            }
    
            &-medium {
                height: 1.414px;
                max-width: base.$vw-49_98;
                @extend .__divider_light;
            }
    
            &-long {
                height: 1.414px;
                max-width: base.$vw-70_7;
                @extend .__divider_light;
            }
    
            &-extraLong {
                height: 1.414px;
                max-width: 100%;
                @extend .__divider_light;
            }
            
        }
    
        &_regular {
            &-small {
                height: 2px;
                max-width: base.$vw-35_34;
                @extend .__divider_light;
            }
    
            &-medium {
                height: 2px;
                max-width: base.$vw-49_98;
                @extend .__divider_light;
            }
    
            &-long {
                height: 2px;
                max-width: base.$vw-70_7;
                @extend .__divider_light;
            }
    
            &-extraLong {
                height: 2px;
                max-width: 100%;
                @extend .__divider_light;
            }
        }
    
        &_thick {
            &-small {
                height: 4px;
                max-width: base.$vw-35_34;
                @extend .__divider_light;
            }
    
            &-medium {
                height: 4px;
                max-width: base.$vw-49_98;
                @extend .__divider_light;
            }
    
            &-long {
                height: 4px;
                max-width: base.$vw-70_7;
                @extend .__divider_light;
            }
    
            &-extraLong {
                height: 4px;
                max-width: 100%;
                @extend .__divider_light;
            }
        }
    }

    &_dark {
        display: flex;
        width: 100%;
        border-radius: base.$border-radius-regular;
        background: base.$gray-dark;

        &_thin {
            &-small {
                height: 1.414px;
                max-width: base.$vw-35_34;
                @extend .__divider_dark;
            }
    
            &-medium {
                height: 1.414px;
                max-width: base.$vw-49_98;
                @extend .__divider_dark;
            }
    
            &-long {
                height: 1.414px;
                max-width: base.$vw-70_7;
                @extend .__divider_dark;
            }
    
            &-extraLong {
                height: 1.414px;
                max-width: 100%;
                @extend .__divider_dark;
            }
            
        }
    
        &_regular {
            &-small {
                height: 2px;
                max-width: base.$vw-35_34;
                @extend .__divider_dark;
            }
    
            &-medium {
                height: 2px;
                max-width: base.$vw-49_98;
                @extend .__divider_dark;
            }
    
            &-long {
                height: 2px;
                max-width: base.$vw-70_7;
                @extend .__divider_dark;
            }
    
            &-extraLong {
                height: 2px;
                max-width: 100%;
                @extend .__divider_dark;
            }
        }
    
        &_thick {
            &-small {
                height: 4px;
                max-width: base.$vw-35_34;
                @extend .__divider_dark;
            }
    
            &-medium {
                height: 4px;
                max-width: base.$vw-49_98;
                @extend .__divider_dark;
            }
    
            &-long {
                height: 4px;
                max-width: base.$vw-70_7;
                @extend .__divider_dark;
            }
    
            &-extraLong {
                height: 4px;
                max-width: 100%;
                @extend .__divider_dark;
            }
        }
    }
}

// ?? ----------------------------------------
// ?? INTERACTIVE
// ?? ----------------------------------------

// ** ----------------------------------------
// ** SYMBOLS
// ** ----------------------------------------

// ** ARROWS

.--SVG-arrow {
    &.arrow-back {
        height: 1.5em;
        fill: base.$white;
    }
}

// ** ----------------------------------------
// ** ICONS
// ** ----------------------------------------

// Copy

.__icon-copy {

    &-regular {
        &-light {
            display: inline-flex;
            position: relative;
            height: 27px;
            width: 24px;
            justify-content: center;
            align-items: center;

            svg {
                height: 100%;
                width: 100%;

                path {
                    stroke: base.$background-light
                }
            }
        }

        &-dark {
            display: inline-flex;
            position: relative;
            height: 27px;
            width: 24px;
            justify-content: center;
            align-items: center;

            svg {
                height: 100%;
                width: 100%;

                path {
                    stroke: base.$background-dark
                }
            }
        }
    }

    &-medium {

        &-light {
            display: inline-flex;
            position: relative;
            height: 46px;
            width: 40px;
            justify-content: center;
            align-items: center;

            svg {
                height: 100%;
                width: 100%;

                path {
                    stroke: base.$background-light
                }
            }
        }

        &-dark {
            display: inline-flex;
            position: relative;
            height: 46px;
            width: 40px;
            justify-content: center;
            align-items: center;

            svg {
                height: 100%;
                width: 100%;

                path {
                    stroke: base.$background-dark
                }
            }
        }
    }
}

// ?? ----------------------------------------
// ?? INTERACTIVE
// ?? ----------------------------------------

// ** ----------------------------------------
// ** LINKS
// ** ----------------------------------------

.__link-1 {
    display: flex;
    position: relative;
    height: 52.963px;
    width: 153.942px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 34px;
    overflow: hidden;
    cursor: pointer;

    &_regular {
        ._inner-1,
        ._inner-2 {
            position: absolute;
            display: flex;
            height: 52.96px;
            width: 153.942px;
            justify-content: center;
            align-items: center;
            padding: 8px 47px;
            gap: 10px;

            ._text {
                color: base.$background-light;
                text-align: center;
                font-size: 24px;
            }
        }

        ._inner-2 {
            bottom: -52.997px;
            border-radius: 34px;
            background-color: base.$secondary;

            ._text {
                color: base.$background-dark;
            }
        }
    }

    &_active {
        background-color: base.$secondary;

        ._inner-1 {
            ._text {
                color: base.$background-dark;
            }
        }
    }
}

.__external-link {
    display: inline-flex;
    height: min-content;
    gap: 8px;
    padding: 0 base.$padding-tiny-plus;
    border-radius: 0.5em;
    color: base.$background-dark;
    text-decoration: 2px underline base.$accent-purple;
    transition: all 250ms ease-in-out;
    pointer-events: all;

    span.__external-link-arrow {
        display: none;
        height: min-content;
        width: min-content;
        border-radius: 0.5em;
        background-color: base.$background-light;
        opacity: 0%;
        transition: opacity 250ms ease-in-out;
    }

    &:hover {
        background-color: base.$accent-purple;
        color: base.$background-light;

        // span {
        //     display: inline-flex;
        //     opacity: 100%;
        // }
    }
}

// ** ----------------------------------------
// ** BUTTONS
// ** ----------------------------------------

.__button-1 {
    display: flex;
    position: relative;
    height: 68px;
    width: 153.942px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 34px;
    overflow: hidden;
    cursor: pointer;

    &--regular {
        ._inner-1,
        ._inner-2 {
            position: absolute;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: base.$padding-tiny-plus base.$padding-regular-plus;
            gap: base.$grid-gap-tiny;

            ._text {
                color: base.$background-dark;
                text-align: center;
                font-size: base.$font-size0;
            }
        }

        ._inner-2 {
            top: 100%;
            border-radius: base.$border-radius-medium;
            background-color: base.$primary;

            ._text {
                color: base.$background-light;
            }
        }
    }

    &--active {

        ._inner-1 {
            border: base.$size-2px solid base.$primary;
            border-radius: base.$size-1_41;

            ._text {
                color: base.$primary;
            }
        }
    }
}

.__button-2 {

    &--normal {
        display: flex;
        position: relative;
        height: 68px;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 0;
        border-radius: base.$border-radius-medium;
        border: base.$border-width-small solid transparent;
        overflow: hidden;

        &--regular {
            @extend .__button-2--normal;

            ._inner-1,
            ._inner-2 {
                display: flex;
                position: absolute;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                padding: base.$padding-tiny-plus base.$padding-regular-plus;
                border: base.$border-width-small solid base.$background-light;
                border-radius: base.$border-radius-medium;
    
                ._text {
                    color: base.$background-light;
                    text-align: center;
                    font-size: base.$font-size0;
                }
            }
    
            ._inner-2 {
                top: 100%;
                border: none;
                background-color: base.$primary;
    
                ._text {
                    color: base.$background-light;
                }
            }
        }
    
        &--active {
            @extend .__button-2--normal;
            ._inner-1 {
                border: base.$size-2px solid base.$primary;
                border-radius: base.$size-1_41;
    
                ._text {
                    color: base.$primary;
                }
            }
        }
    }

    &--large {
        display: flex;
        position: relative;
        height: 68px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 1;
        padding: 0;
        border-radius: base.$border-radius-medium;
        border: 1.414px solid transparent;
        overflow: hidden;

        &--regular {
            @extend .__button-2--large;

            ._inner-1,
            ._inner-2 {
                display: flex;
                position: absolute;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                border: base.$border-width-small solid base.$background-light;
                border-radius: base.$border-radius-medium;
    
                ._text {
                    color: base.$background-light;
                    text-align: center;
                    font-size: base.$font-size0;
                }
            }
    
            ._inner-2 {
                top: 100%;
                border: none;
                background-color: base.$primary;
    
                ._text {
                    color: base.$background-light;
                }
            }
        }
    
    
        &--active {
            @extend .__button-2--large;
    
            ._inner-1 {
                border: base.$size-2px solid base.$primary;
                border-radius: base.$size-1_41;
    
                ._text {
                    color: base.$primary;
                }
            }
        }
    }
}

// ?? ----------------------------------------
// ?? ANIMATION
// ?? ----------------------------------------

// * Parallex images

.--parallex-img {
    aspect-ratio: 1 / 1;
}

// * Page change

.pageChangeContainer {
    display: grid;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    place-content: center;
    background-color: base.$accent-heading;
    z-index: 11;

    p {
        max-width: 85vw;
        margin: 0;
        padding: 0;
        color: base.$background-light;
        font-family: base.$font-family-display;
        font-size: base.$font-size4;
        font-weight: base.$font-weight-medium;
        text-align: center;
        text-transform: lowercase;
    }
}

// ?? ----------------------------------------
// ?? MISCELLANEOUS AND TESTING
// ?? ----------------------------------------

#fixedReference {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

#test-div {
    height: 100vh;
    width: 100%;
    border: 2px solid green;
}

#profilePhoto {
    height: 100%;
    border-radius: 50%;
}

.coming-soon {
    display: grid;
    min-height: 100vh;
    width: 100%;
    place-content: center;
    background-color: base.$background-dark;

    .coming-soon-text {
        font-family: base.$font-family-display;
        color: base.$background-light;
    }
}
