// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";

// ** ----------------------------------------
// ** GLOBAL ELEMENTS
// ** ----------------------------------------

* {
    box-sizing: border-box;
    cursor: none;
}

html {
    height: 100%;
    font-size: clamp(16px, calc(16px + 4 * ((100vw - 320px) / 700)), 24px);
    ;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: base.$background-light;
    color: base.$black;
    font-family: base.$font-family-body;
    font-size: base.$font-size0;
    kerning: auto;
    font-kerning: auto;
    overflow-x: hidden;
}

main {
    position: relative;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: base.$font-family-heading;
    line-height: base.$font-lineHeight-110;
}

h1 {
    font-size: base.$font-size5;
    font-weight: base.$font-weight-bold;
}

h2 {
    font-size: base.$font-size4;
    font-weight: base.$font-weight-bold;
}

h3 {
    font-size: base.$font-size3;
    font-weight: base.$font-weight-semiBold;
}

h4 {
    font-size: base.$font-size2;
    font-weight: base.$font-weight-medium;
}

h5 {
    font-size: base.$font-size1;
    font-weight: base.$font-weight-normal;
}

small, .text_small {
    font-size: base.$font-size-1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    text-align: match-parent;
}

a {
    text-decoration: none;
    color: base.$black;

    &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
        color: base.$black;
    }
}

button {
    border: none;
    background-color: transparent;
}

img {
    border: none;
    outline: none;
}

// ** ----------------------------------------
// ** CURSOR
// ** ----------------------------------------

.cursor {
    pointer-events: none;
    opacity: 0;
    
    &-ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

        circle {
            fill: base.$secondary;
        }
    }

    &-outer {
        position: fixed;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        z-index: 1000;

        circle {
            fill: transparent;
            stroke: base.$secondary;
            stroke-width: 2px;
        }
    }
} 

// ** ----------------------------------------
// ** GLOBAL CLASSES
// ** ----------------------------------------

// * CONTAINERS AND WRAPPERS

.--contain {
    min-height: 100vh;
    width: 100%;
}

.--wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.-wrap-center {
    display: grid;
    place-content: center;
    @extend .--wrap;
}

// * DISPLAY OR HIDE

.--inactive {
    display: none !important;
}

// * LOCK SCROLL

.--lockScroll {
    height: 100%;
    overflow-y: hidden;
}

// * STYLES

// Remove padding and margin

.--no-pm {
    margin: 0;
    padding: 0;
}

// Remove list style

.--no-list {
    list-style: none;
}

// Ordered list

.--ordered-list {
    list-style: decimal;

    .list-head {
        list-style: circle;
    }
}

// Small emphasis

.--sm-em {
    font-style: italic;
}

// Small bold

.--sm-bd {
    font-size: base.$font-size-2;
    font-weight: base.$font-weight-bold;
    letter-spacing: 1.2;
    text-transform: uppercase;
}

// Images

.--img-shadow-rg {
    @include base.box-shadow(0px, 0px, base.$font-size4, base.$grey-dark);
}

// * ICONS

// Arrows
.--SVG-arrow {
    &.arrow-back {
        height: 1.5em;
        fill: base.$white;
    }
}

// ?? ----------------------------------------
// ?? INTERACTIVE
// ?? ----------------------------------------

// ** ----------------------------------------
// ** LINKS
// ** ----------------------------------------

.__link-1 {
display: flex;
position: relative;
width: 153.942px;
height: 52.963px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
border-radius: 34px;
overflow: hidden;
cursor: pointer;

&--regular {
    ._inner-1,
    ._inner-2 {
        position: absolute;
        display: flex;
        height: 52.96px;
        width: 153.942px;
        justify-content: center;
        align-items: center;
        padding: 8px 47px;
        gap: 10px;

        ._text {
            color: base.$background-light;
            text-align: center;
            font-size: 24px;
        }
    }

    ._inner-2 {
        bottom: -52.997px;
        border-radius: 34px;
        background-color: base.$secondary;

        ._text {
            color: base.$background-dark;
        }
    }
}

&--active {
background-color: base.$secondary;

._inner-1 {
._text {
color: base.$background-dark;
}
}
}
}

// ?? ----------------------------------------
// ?? PAGE CHANGE
// ?? ----------------------------------------

// * PAGE CHANGE

.pageChangeContainer {
    display: grid;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    place-content: center;
    background-color: base.$background-dark;
    z-index: 11;

    p {
        margin: 0;
        padding: 0;
        color: base.$background-light;
        font-family: base.$font-family-display;
        font-size: base.$font-size4;
        font-weight: base.$font-weight-medium;
        text-transform: lowercase;
    }
}

// ?? ----------------------------------------
// ?? SECTIONS
// ?? ----------------------------------------

// ** ----------------------------------------
// ** NAVIGATION
// ** ----------------------------------------

// * TOP NAVIGATION

.navigation-top-container {
    display: flex;
    height: 138px;
    width: 100%;
    padding: 0px base.$size-2_00;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: base.$background-dark;

    .navigation-top-wrapper {
        display: flex;
        padding: 24px 0px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .navigation-top-logo-wrapper {
            height: 68px;
            width: 68px;

            .navigation-top-logo {

            }
        }
    
        .navigation-top-links-container {
            display: flex;
            position: relative;
            gap: 24px;

            .navigation-top-links-wrapper {
                display: flex;
                width: 153.942px;
                height: 52.963px;
                flex-direction: column;
                align-items: center;
                flex-shrink: 0;
            }
    }

    }
}

// ** ----------------------------------------
// ** FOOTER
// ** ----------------------------------------

// ?? ----------------------------------------
// ?? MISCELLANEOUS AND TESTING
// ?? ----------------------------------------

#fixedReference {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

#test-div {
    height: 100vh;
    width: 100%;
    border: 2px solid green;
}

#profilePhoto {
    height: 100%;
    border-radius: 50%;
}