// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";

// ** ----------------------------------------
// ** HEADER
// ** ----------------------------------------

header {
    width: 100%;

    h1 {
        position: relative;

        span {
            display: inline-block;
        }
    }
}

// ** ----------------------------------------
// ** ARTICLES
// ** ----------------------------------------

.articles-container {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: base.$articleColumn-desktop;
    gap: base.$gap-desktop;

    img {
        width: 100%;
        aspect-ratio: 1 / 0.7;
        border-radius: base.$border-md;
        background-color: red;
    }
        
    .main-article {
            height: min-content;
    
            .main-article-title {
                position: relative;
    
                h2,h3 {
                    position: relative;
                    margin: 0;
                    z-index: 1;
                }
    
                h2 {
                    font-size: base.$fs2;
                }
    
                h3 {
                    font-size: base.$fs1;
                    font-weight: base.$font-normal;
                }
            }
    }

    .aside-article-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: base.$gap-desktop;

        .aside-article {
            height: min-content;
            grid-column: span 2;
    
            .aside-article-title {
        
                h3,h4 {
                    margin: 0;
                }
        
                h3 {
                    font-size: base.$fs1;
                }
        
                h4 {
                    font-size: base.$fs0;
                    font-weight: base.$font-normal;
                }
            }
        }
    
        .aside-article-sm {
            height: min-content;
    
            .aside-article-title {
        
                h3,h4 {
                    margin: 0;
                }
        
                h3 {
                    font-size: base.$fs1;
                }
        
                h4 {
                    font-size: base.$fs0;
                    font-weight: base.$font-normal;
                }
            }
        }
    }
}

.articles-container-reverse {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: base.$articleColumn-reverse-desktop;
    gap: base.$gap-desktop;

    img {
        width: 100%;
        aspect-ratio: 1 / 0.7;
        border-radius: base.$size3;
        background-color: red;

    }
        
    .main-article-reverse {
            height: min-content;
            grid-column: 2;
    
            .main-article-title {
                position: relative;
    
                h2,h3 {
                    position: relative;
                    margin: 0;
                    z-index: 1;
                }
    
                h2 {
                    font-size: base.$fs2;
                }
    
                h3 {
                    font-size: base.$fs1;
                    font-weight: base.$font-normal;
                }
            }
    }

    .aside-article-container {
        display: grid;
        grid-area: 1 / 1;
        grid-template-columns: repeat(2, 1fr);
        gap: base.$gap-desktop;

        .aside-article {
            height: min-content;
            grid-column: span 2;
    
            .aside-article-title {
        
                h3,h4 {
                    margin: 0;
                }
        
                h3 {
                    font-size: base.$fs1;
                }
        
                h4 {
                    font-size: base.$fs0;
                    font-weight: base.$font-normal;
                }
            }
        }
    
        .aside-article-sm {
            height: min-content;
    
            .aside-article-title {
        
                h3,h4 {
                    margin: 0;
                }
        
                h3 {
                    font-size: base.$fs1;
                }
        
                h4 {
                    font-size: base.$fs0;
                    font-weight: base.$font-normal;
                }
            }
        }
    }
}

.articles-pagination {
    display: flex;
    height: 20%;
    place-content: center;
    place-items: center;
    font-size: calc(base.$fs1 * 1.315);

    .pagination-wrapper {
        display: flex;
        place-content: center;

        i {
        }

        ol {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 base.$margin-sm;

            li {
                padding: 0 base.$padding-xs;
                margin-right: base.$margin-sm;
                cursor: pointer;
            }

            li.-activeArticle {
                border-bottom: 2px solid base.$dark;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}