// * INIT

@use "base";
@use "main";

// ** ----------------------------------------
// ** HEADER
// ** ----------------------------------------

// ** ----------------------------------------
// ** ARTICLE
// ** ----------------------------------------

article {
    color: base.$background-light;
    padding: 0 base.$padding-large;

    section {
        margin-bottom: base.$margin-large-plus;
    }

    h2 {
        margin-bottom: base.$margin-large;
    }

    p {
        margin-bottom: base.$margin-medium;
    }

    img {
        max-width: 400px;
    }
}