// ** INIT

@use "base";

// Main container

footer {
    display: flex;
    position: relative;
    width: base.$vw-100;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 base.$padding-regular base.$padding-regular base.$padding-regular;
    background-color: base.$background-dark;
    color: base.$background-light;
    overflow: hidden;
}

// Top ribbons

.footer-ribbons-container {
    height: base.$size-2_83;
    width: base.$vw-100;
    border-radius: 0 0 base.$border-radius-regular base.$border-radius-regular;
    background-color: base.$primary;
}

// Top container

.footer-top-container {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    padding: base.$padding-large-plus 0;

    .middle-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        gap: 0;
        padding: 0 base.$padding-medium-plus;

        display: flex;
        padding: 0px 78px;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;

        .CTA-container {
            display: flex;
            width: base.$vw-49_98;
            flex-direction: column;
            align-items: flex-start;
            gap: base.$grid-gap-large;

            h3 {
                display: flex;
                max-width: 713px;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                text-align: center;
                font-family: base.$font-family-display;
                font-size: base.$font-size4;
                font-weight: base.$font-weight-semiBold;
                line-height: 110%; /* 105.536px */
            }

            .contact-info-container {
                display: flex;
                padding: base.$padding-small base.$padding-small-plus;
                align-items: flex-start;
                gap: base.$grid-gap-regular;
                align-self: stretch;
            }
        }

        .contact-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: base.$grid-grap-small;

            .temp-button-3 {
                display: flex;
                width: 254px;
                height: 254px;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 100px;
                flex-wrap: wrap;
                border-radius: 100px;
                border: 4px solid base.$secondary;
            }
        }
    }

    .social-links-wrapper {
        display: flex;
        width: base.$vw-17_65;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: base.$grid-gap-large;
        align-self: stretch;
        padding: 0px base.$padding-small 0px base.$padding-large;

        li {
            text-align: right;
        }
    }
}

// Bottom container

.footer-bottom-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: base.$grid-gap-base;
    flex-shrink: 0;
    align-self: stretch;
    padding: 0px base.$padding-regular;

    .footer-bottom-content-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }
}

// Background tagline

.footer-tagline-container {
    display: flex;
    position: absolute;
    width: base.$vw-100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: base.$grid-gap-base;
    top: base.$size-2_83;

    .footer-tagline-wrapper {
        display: flex;
        position: relative;
        justify-content: center;

        p.footer-tagline {
            width: 100%;
            color: transparent;
            font-family: base.$font-family-display;
            font-size: base.$font-size7;
            font-weight: base.$font-weight-bold;
            font-variant: small-caps;
            line-height: 100%; /* 271.242px */
            letter-spacing: base.$font-spacing-increased;
            white-space: nowrap;
            -webkit-text-stroke: 2px base.$background-light;
            opacity: base.$opacity-low;
            mix-blend-mode: screen;
        }
    }
}