// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";
@use "main";

// ** ----------------------------------------
// ** GLOBAL
// ** ----------------------------------------

// Section headers
.section-header-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: base.$gap-12px;

    .section-number-wrapper {
        width: max-content;
        align-self: flex-start;
        margin-top: base.$internal-8px;;
        color: base.$gray-300;
    }

    .section-title {
        display: inline-block;
        position: relative;
        width: min-content;
        color: base.$gray-100;
        line-height: 1;
    }

    .section-blurb {
        width: max-content;
        margin-bottom: base.$internal-8px;
        color: base.$gray-200;
        @include base.baseFontSet;
    }
}

// Subsection headers
.subsection-blurb-wrapper {
    display: flex;
    gap: base.$gap-12px;
    padding: 0 base.$internal-32px;
    color: base.$gray-50;
    font-size: base.$font-size_h4;
}

// ** ----------------------------------------
// ** HEADER
// ** ----------------------------------------

.landing-header {
    display: flex;
    min-height: base.$vh-75;
    width: 100%;
    padding: base.$internal-32px;
    background: base.$background-blur_dark;
    border-radius: base.$border-radius_75;
    box-shadow: 0 4px 30px transparentize(base.$dark, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    .inner-container {
        display: grid;
        grid-template-rows: base.$external-80px minmax(414px, 100%) base.$external-80px;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .top-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .tagline {
                display: inline-flex;
                align-items: center;
                gap: base.$internal-8px;
                color: fade-out(base.$gray-25, 0.25);
                letter-spacing: base.$font-spacing_5;
                @include base.baseFontSet;

                & > span svg rect {
                    fill: fade-out(base.$primary-700, 0.25);
                }
            }
        }

        .middle-container {
            display: grid;
            position: relative;
            height: 100%;
            max-width: 100%;

            strong {
                height: max-content;
                width: min-content;
                font: {
                    family: base.$font-family-display;
                    size: clamp(3.125rem, 15.358vw + -1.32rem, 7rem);
                }
                line-height: 1em;
                letter-spacing: 1rem;
                text-transform: uppercase;
                transform: scaleY(1.2);
                -webkit-text-fill-color: transparent;;
                -webkit-text-stroke: base.$border-width_132 base.$gray-200;
                -webkit-background-clip: text;

                &:last-of-type {
                    justify-self: end;
                    align-self: baseline;
                }
            }

            .blurb-container {
                display: flex;
                position: absolute;
                flex-direction: column;
                gap: base.$internal-12px;
                top: 10%;
                right: 20%;
                color: base.$gray-100;
                @media screen and (max-width: 1000px) {
                    right: clamp(0%, -0.167rem + 4.667vw, 20%)
                }
            }
        }

        .arrows-container {
            position: absolute;
            display: flex;
            height: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            top: 0;
            left: 10%;
            padding: 0 base.$internal-8px;
            -webkit-mask-image: linear-gradient(transparent 5%, #000, transparent 95%);
            mask-image: linear-gradient(transparent 5%, #000, transparent 95%);
            overflow: hidden;

            .header-arrow {
                height: min-content;
                padding: base.$internal-12px 0;
            }

            &:first-child {
                padding-top: 0;
            }
        }
    }
}

// ** ----------------------------------------
// ** ABOUT
// ** ----------------------------------------

.about-section-container {
    width: 100%;

    .about-middle-container {
        display: flex;
        position: relative;
        width: 100%;
        gap: base.$external-80px;
        margin-top: base.$external-80px;
        padding: 0 base.$internal-24px;

        .about-photo-wrapper {
            min-height: base.$vh-75;
            flex: 1;
            border: 1px solid red;
        }

        .about-blurb-wrapper {
            display: flex;
            flex-direction: column;
            gap: base.$gap-60px;
            flex: 1;

            .about-blurb {
                font: {
                    family: base.$font-family-heading;
                    size: base.$font-size_h3;
                };
                @media (max-width: 1000px) {
                    font-size: base.$font-size_h5;
                }
                line-height: 1.32;

                span {
                    color: base.$gray-400;
                    transition: color 50ms ease-in-out;
                }
                
                span.--text-revealed {
                    color: base.$gray-25;
                }
            }

            .about-button {
                display: flex;
                align-items: center;
                gap: base.$gap-12px;
                align-self: flex-end;
                padding-right: base.$internal-24px;

                .link-corner {
                    transform: translateY(-1.5ch)
                }

                .button-text {
                    position: relative;
                    color: base.$gray-100;
                    font: {
                        family: base.$font-family-heading;
                        size: base.$font-size_h6;
                        line-height: base.$font-lineHeight_100;
                    };
                    transition: 200ms ease-in-out;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: -105%;
                        border: base.$border-width_132 solid base.$primary-900;
                        transition: base.$animation_speed_regular;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        border: base.$border-width_132 solid base.$gray-200;
                        transition: base.$animation_speed_regular;
                    }
                }

                .__arrow_horizontal_medium {
                    position: relative;
                    transform: translateY(0.5ch);
                    overflow: hidden;

                    svg {
                        position: absolute;
                        left: -100%;
                        transition: 200ms ease-in-out;
                    }
                }

                &:hover {
                    .button-text {
                        color: base.$primary-900;
                        &::before {
                            left: 0%;
                        }
                        &::after {
                            left: 105%;
                        }
                    }
                    .__arrow_horizontal_medium svg {
                        left: 0%;
                    }
                }
            }
        }
    }

    .about-stack-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: base.$gap-60px;
        padding: base.$external-60px base.$internal-32px;

        .my-stack-wrapper {
            display: flex;
            gap: base.$gap-12px;

            h3.stack-blurb {
                position: relative;
                color: base.$gray-50;
                font-size: base.$font-size_h4;
            }
        }

        .app-stack-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: base.$gap-60px;
            padding: 0 base.$external-105px;

            .app-stack-top, .app-stack-bottom {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        .app-container {
            display: flex;
            width: base.$external-105px;
            flex-direction: column;
            gap: base.$gap-12px;

            .app-wrapper {
                display: flex;
                position: relative;
                height: base.$external-60px;
                width: base.$external-105px;
                justify-content: center;
                align-items: center;
                padding: base.$internal-12px base.$internal-32px;
                background: base.$background-blur_dark;
                border-radius: base.$border-radius_4px;
                box-shadow: 0 4px 30px transparentize(base.$dark, 0.8);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                img {
                    opacity: base.$opacity_medium;
                    transition: 250ms ease-in-out;
                }

                &:hover {

                    img {
                        opacity: 100%;
                    }
                }
            }

            .app-blurb-wrapper {
                display: flex;
                padding-left: base.$internal-12px;

                .app-name {
                    padding-left: base.$internal-4px;
                    color: base.$gray-200;
                    font-size: base.$font-size_body-small;
                    white-space: nowrap;
                }
            }
        }
    }
}

// ** ----------------------------------------
// ** WORK
// ** ----------------------------------------

.work-top-container {
    width: 100%;

    .work-top-content-container {
        display: grid;
        width: 100%;
        grid-template: 100% / calc(base.$vw-57) 1fr;
        gap: base.$gap-60px;

        .core-qualities-container {
            display: flex;
            gap: base.$gap-45px;
            margin-left: base.$external-60px;

            .quality-container {
                display: flex;
                position: relative;
                height: clamp(base.$vh-25, 62.4%, base.$vh-32);
                justify-content: center;
                align-items: center;
                flex: 1 0 base.$vh-14;
                z-index: 1;

                &:hover {

                    .core-quality-container {

                        .core-quality-wrapper {

                            .core-quality {
                                color: base.$gray-25;
                            }

                            .__divider_small {
                                background-color: base.$gray-200;
                            }
                        }
                    }
                }

                .core-quality-container {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    transition: base.$animation_speed_regular;
                    z-index: 1;

                    .core-quality-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: base.$gap-4px;

                        .core-quality {
                            color: base.$gray-100;
                            transition: base.$animation_speed_regular;
                        }
                    }

                    .core-quality-blurb-wrapper {
                        display: flex;
                        margin-top: base.$internal-12px;
                        padding: 0 base.$internal-12px;
                        overflow: hidden;

                        .core-quality-blurb {
                            height: 0;
                            color: base.$gray-50;
                            font-size: base.$font-size_body-small;
                            opacity: 0;
                        }
                    }
                }

                .qualtiy-background {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    border-radius: base.$border-radius_4px;
                    transform: skewX(-15deg);
                    transform-origin: bottom middle;
                    z-index: -1;
                    @include base.glass("dark");
                }
            }
        }

        .quote-container {
            position: relative;
            border-radius: base.$border-radius_75;
            overflow: none;
            z-index: 1;

            .apostrophe-wrapper {
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                padding: base.$internal-8px base.$internal-24px;
                z-index: 1;
            }

            .quote-content-container {
                position: absolute;
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                padding: 0 base.$internal-32px;

                .quote-content-wrapper {
                    display: flex;
                    flex-direction: column;

                    .quote {
                        color: base.$gray-100;
                        font-size: base.$font-size_h5;
                        font-style: italic;
                    }

                    .author-wrapper {
                        padding-right: base.$internal-32px;
                        color: base.$gray-50;
                        text-align: right;
                    }
                }
            }

            .quote-background-wrapper {
                height: 100%;
                width: 100%;
                z-index: -1;

                .quote-background-SVG {
                    height: 100%;
                    width: 100%;

                    .quote-background-SVG-path {
                        fill: base.$background-blur_dark;
                        box-shadow: 0 4px 30px transparentize(base.$dark, 0.8);
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }
}

.featured-work-container {
    padding: base.$external-60px base.$internal-32px;

    .subsection-blurb-wrapper {
        display: flex;
        gap: base.$gap-12px;
        padding: 0;
        color: base.$gray-50;
        font-size: base.$font-size_h4;
    }
}

.featured-works-container {
    display: grid;
    position: relative;
    width: 100%;
    grid-template: 1fr auto / 1fr max-content 1fr;
    place-content: center;
    column-gap: base.$gap-24px;

    .work-main-content-container {
        position: relative;
        height: base.$vh-57;
        max-height: base.$vh-57;
        justify-self: center;
        gap: base.$gap-12px;
        grid-area: 1 / 2;
        padding: base.$internal-32px base.$internal-24px;
        border-radius: base.$border-radius_100;
        overflow: hidden;
        @include base.glass("dark");

        .work-images-container {
            position: relative;
            width: base.$vw-57;
            flex-direction: column;
            border-radius: base.$border-radius_100;

            .work-image-wrapper {
                position: relative;
                height: calc(base.$vh-57 - (2 * base.$internal-32px));
                width: 100%;
                margin-bottom: base.$external-80px;
                border-radius: base.$border-radius_100;
                overflow: hidden;
    
                .work-image {
                    height: 100%;
                    width: 100%;
                    border-radius: base.$border-radius_100;
                    mask-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 50%);
                }
            }
        }

        .work-title-wrapper {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            gap: base.$gap-12px;
            top: 24%;
            left: 5%;
    
            .work-title {
                font-size: base.$font-size_h4;
                text-align: left;
            }
        }
    }

    .work-aside-pagination-container {
        display: flex;
        height: 100%;
        width: min-content;
        justify-content: center;
        align-items: center;
        align-self: center;
        grid-area: 1 / 3;
        padding: 0 base.$internal-12px;

        .work-pagination-wrapper {
            display: flex;
            height: min-content;
            flex-direction: column;
            gap: base.$gap-12px;

            .work-pagination-selection {
                height: base.$internal-4px;
                width: base.$external-45px;
                background-color: base.$gray-400;
                border-radius: base.$border-radius_2px;
                opacity: base.$opacity_high;
                transform: skewX(-15deg);

                &.-active {
                    height: 7px;
                    width: base.$external-60px;
                    background-color: base.$gray-100;
                    opacity: 100%;
                }
            }
        }
    }

    .work-details-container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 2 / 2;
        padding: base.$internal-24px base.$external-60px;

        .work-details-wrapper {
            display: flex;
            gap: base.$gap-24px;
            color: base.$gray-100;
            font-size: base.$font-size_body-small;
        }
    }

}

// ** ----------------------------------------
// ** CONTACT
// ** ----------------------------------------

.contact-content-container {
    display: flex;
    flex-direction: column;
    padding: 0 base.$external-140px;
    border-radius: base.$border-radius_132;
    @include base.glass("light");

    .contact-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: base.$gap-24px;
        padding: base.$internal-24px base.$external-80px;

        .contact-top-container {
            display: flex;
            flex-direction: column;

            .subtitle-wrapper {
                display: flex;
                gap: base.$gap-12px;

                .link-corner {
                    transform: translateY(-0.5ch)
                }

                .subtitle {
                    font-size: base.$font-size_h5;
                    color: base.$gray-50;
                }
            }

            .title {
                font: {
                    family: base.$font-family-display;
                    size: base.$font-size_h2;
                    weight: base.$font-weight_semiBold;
                };
                text-align: center;
            }
        }
    }
}