// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";
@use "main";

// ** ----------------------------------------
// ** MIXINS
// ** ----------------------------------------

// ** ----------------------------------------
// ** HEADER
// ** ----------------------------------------

.landing-header {
    display: flex;
    min-height: base.$vh-75;
    width: 100%;
    padding: base.$internal-32px;
    background: base.$background-blur_dark;
    border-radius: base.$border-radius_75;
    box-shadow: 0 4px 30px transparentize(base.$dark, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    .inner-container {
        display: grid;
        grid-template-rows: base.$external-80px minmax(414px, 100%) base.$external-80px;
        grid-template: 100%;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .top-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .tagline {
                display: inline-flex;
                align-items: center;
                gap: base.$internal-8px;
                color: fade-out(base.$gray-25, 0.25);
                letter-spacing: base.$font-spacing_5;
                @include base.baseFontSet;

                & > span svg rect {
                    fill: fade-out(base.$primary-700, 0.25);
                }
            }
        }

        .middle-container {
            display: grid;
            position: relative;
            height: 100%;
            max-width: 100%;

            strong {
                height: max-content;
                width: min-content;
                font: {
                    family: base.$font-family-display;
                    size: 7rem;
                }
                line-height: 1em;
                letter-spacing: 1rem;
                text-transform: uppercase;
                transform: scaleY(1.2);
                -webkit-text-fill-color: transparent;;
                -webkit-text-stroke: base.$border-width_132 base.$gray-200;
                -webkit-background-clip: text;

                &:last-of-type {
                    justify-self: end;
                    align-self: baseline;
                }
            }

            .blurb-container {
                display: flex;
                position: absolute;
                flex-direction: column;
                gap: base.$internal-12px;
                top: 10%;
                right: 20%;
                color: base.$gray-100;
            }
        }

        .arrows-container {
            position: absolute;
            display: flex;
            height: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            top: 0;
            left: 10%;
            padding: 0 base.$internal-8px;
            -webkit-mask-image: linear-gradient(transparent 5%, #000, transparent 95%);
            mask-image: linear-gradient(transparent 5%, #000, transparent 95%);
            overflow: hidden;

            .header-arrow {
                height: min-content;
                padding: base.$internal-12px 0;
            }

            &:first-child {
                padding-top: 0;
            }
        }
    }
}

// ** ----------------------------------------
// ** ABOUT
// ** ----------------------------------------

.about-section-container {
    min-height: 100vh;
    width: 100%;

    .about-header-container {
        display: flex;
        width: 100%;
        align-items: flex-end;
        gap: base.$gap-12px;

        .section-number-wrapper {
            width: max-content;
            align-self: flex-start;
            margin-top: base.$internal-8px;;
            color: base.$gray-300;
        }

        .section-title {
            display: inline-block;
            position: relative;
            width: min-content;
            color: base.$gray-200;
            line-height: 1;
        }

        .section-blurb {
            width: max-content;
            margin-bottom: base.$internal-8px;
            color: base.$gray-200;
            @include base.baseFontSet;
        }
    }

    .about-middle-container {
        display: flex;
        position: relative;
        width: 100%;
        gap: base.$external-80px;
        margin-top: base.$external-80px;
        padding: 0 base.$internal-24px;

        .about-photo-wrapper {
            min-height: base.$vh-75;
            flex: 1;
            border: 1px solid red;
        }

        .about-blurb-wrapper {
            display: flex;
            flex-direction: column;
            gap: base.$gap-60px;
            flex: 1;

            .about-blurb {
                font: {
                    family: base.$font-family-heading;
                    size: base.$font-size_h3;
                }
                line-height: 1.32;

                span {
                    color: base.$gray-400;
                    transition: color 50ms ease-in-out;
                }
                
                span.--text-revealed {
                    color: base.$gray-25;
                }
            }

            .about-button {
                display: flex;
                align-items: center;
                gap: base.$gap-12px;
                align-self: flex-end;

                .link-corner {
                    transform: translateY(-1.5ch)
                }

                .button-text {
                    position: relative;
                    color: base.$gray-100;
                    font: {
                        family: base.$font-family-heading;
                        size: base.$font-size_h5;
                        line-height: base.$font-lineHeight_100;
                    };
                    transition: 200ms ease-in-out;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: -105%;
                        border: base.$border-width_132 solid base.$primary-900;
                        transition: 400ms ease-in-out;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        border: base.$border-width_132 solid base.$gray-100;
                        transition: 400ms ease-in-out;
                    }
                }

                .__arrow_horizontal_medium {
                    position: relative;
                    transform: translateY(0.5ch);
                    overflow: hidden;

                    svg {
                        position: absolute;
                        left: -100%;
                        transition: 200ms ease-in-out;
                    }
                }

                &:hover {
                    .button-text {
                        color: base.$primary-900;
                        &::before {
                            left: 0%;
                        }
                        &::after {
                            left: 105%;
                        }
                    }
                    .__arrow_horizontal_medium svg {
                        left: 0%;
                    }
                }
            }
        }
    }

    .about-stack-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: base.$gap-60px;
        padding: base.$external-60px base.$internal-32px;

        .my-stack-wrapper {
            display: flex;
            gap: base.$gap-12px;
            justify-self: flex-start;

            h3.stack-blurb {
                position: relative;
                color: base.$gray-50;
                font-size: base.$font-size_h4;
            }
        }

        .app-stack-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: base.$gap-60px;
            padding: 0 base.$external-105px;

            .app-stack-top, .app-stack-bottom {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        .app-container {
            display: flex;
            width: base.$external-105px;
            flex-direction: column;
            gap: base.$gap-12px;

            .app-wrapper {
                display: flex;
                position: relative;
                height: base.$external-60px;
                width: base.$external-105px;
                justify-content: center;
                align-items: center;
                padding: base.$internal-12px base.$internal-32px;
                background: base.$background-blur_dark;
                border-radius: base.$border-radius_75;
                box-shadow: 0 4px 30px transparentize(base.$dark, 0.8);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                .arrow-wrapper {
                    position: absolute;
                    right: base.$internal-8px;
                    top: base.$internal-8px;
                    overflow: hidden;
                }
            }

            .app-blurb-wrapper {
                display: flex;
                padding-left: base.$internal-12px;

                .app-name {
                    padding-left: base.$internal-4px;
                    color: base.$gray-200;
                    font-size: base.$font-size_body-small;
                    white-space: nowrap;
                }
            }
        }
    }
}