// ** ----------------------------------------
// ** INIT
// ** ----------------------------------------

@use "base";

// ** ----------------------------------------
// ** MIXINS
// ** ----------------------------------------

// ** ----------------------------------------
// ** LOADING SCREEN
// ** ----------------------------------------
.loading-container {
    display: none;
    position: fixed;
    grid-template: 1fr 11rem / 100%;
    top: 0;
    left: 0;
    background-color: base.$dark;
    overflow: hidden;
    z-index: 10;

    .loading-message-wrapper {
        display: grid;
        place-content: center;

        p {
            display: flex;
            color: base.$light;
            font-size: base.$fs4;

            .text-lt, .text-rt, .text-slash {
                color: rgb(base.$light, 0.45);
            }
        
            .text-h1 {
                color: base.$greenAccent
            }

            .text-blinkingCursor {
                animation: blinkingCursor 1s linear infinite
            }

            @keyframes blinkingCursor {
                0% {
                    opacity: 100%;
                }
                49% {
                    opacity: 100%;
                }
                50% {
                    opacity: 0%;
                }
                100% {
                    opacity: 0%;
                }
            }
        }
    }

    .loading-bar-vertical {
        position: absolute;
        height: 0%;
        width: base.$size-2;
        right: 0;
        bottom: 0;
        background-color: base.$greenAccent;
    }

    .loading-bar-horizontal {
        position: absolute;
        height: base.$size-2;
        width: 0%;
        top: 0;
        left: 0;
        background-color: base.$greenAccent;
    }

    .loading-circle {
        position: absolute;
        height: 0;
        width: 0;
        right: 0;
        top: 0;
        border-radius: 50%;
        background-color: base.$greenAccent;
    }
}

// ** ----------------------------------------
// ** HERO
// ** ----------------------------------------
.hero {
    min-height: 100vh;
    width: 100%;
    
    .hero-name {
        font-family: base.$headingFont;
        font-size: base.$fs5;
        font-weight: 700;
    }
    .hero-name-scroll {
        display: flex;
        position: relative;
        max-height: min-content;
    }
    .hero-name-scroll p {
        margin: 0;
        white-space: nowrap;
    }
}