// ** INIT

@use 'base';

// * Top navigation

.navigation-top-container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: base.$internal-24px;

    .header-cta-container {
        display: flex;
        align-items: center;
        gap: base.$internal-12px;
        padding: base.$internal-12px base.$internal-24px;
        border: base.$border-width_132 solid base.$gray-500;
        border-radius: base.$border-radius_4px;

        .circle-wrapper {
            position: relative;
            height: base.$internal-12px;
            width: base.$internal-12px;

            .circle-static {
                height: 100%;
                width: 100%;
                background-color: base.$primary-900;
                border-radius: 50%;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(circle, rgba(255, 200, 87, 1) 0%, rgba(255, 250, 238, 0) 100%);
                    border-radius: 50%;
                    z-index: -1;
                    animation: pulseCircle 4s ease-in-out infinite;
                }

                @keyframes pulseCircle {
                    0% {
                        transform: scale(0.5);
                        opacity: 100%;
                    }

                    50% {
                        transform: scale(2);
                    }

                    85% {
                        opacity: 0%;
                    }

                    100% {
                        transform: scale(0.5);
                        opacity: 100%
                    }
                }
            }
        }

        .cta {
            color: base.$gray-100;
        }
    }

    .logo-wrapper {
        display: grid;
        position: absolute;
        place-content: center;
        left: 0;
        padding: base.$internal-12px base.$internal-24px;

        .header-logo {
            width: base.$external-60px;
        }
    }

    .header-menu-wrapper {
        display: grid;
        height: base.$external-60px;
        width: base.$external-80px;
        place-content: center;
        border: base.$border-width_132 solid base.$gray-500;
        border-radius: base.$border-radius_4px;
    }
}