// INIT
@use 'base';

.navigation__top-c {
    display: flex;
    position: relative;
    max-height: base.$vh-8;
    justify-content: space-between;
    padding: base.$internal-12px base.$internal-24px;
    z-index: 500;

    .navigation__sections-c {
        display: flex;

        .navigation__item-w {
            
        }
    }
}