// ** INIT

@use 'base';

// * Top navigation

.navigation-top-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: base.$internal-24px;

    .header-cta-container {
        display: flex;
        align-items: center;
        gap: base.$internal-12px;
        padding: base.$internal-12px base.$internal-24px;
        border: base.$border-width_132 solid base.$gray-500;
        border-radius: base.$border-radius_100;

        .circle-wrapper {
            height: base.$internal-12px;
            width: base.$internal-12px;
            border-radius: 50%;
            background-color: base.$primary-900;
        }

        .cta {
            color: base.$gray-25;
        }
    }

    .logo-wrapper {
        display: grid;
        place-content: center;
        padding: base.$internal-12px base.$internal-24px;

        .header-logo {
            width: base.$external-60px;
        }
    }

    .header-menu-wrapper {
        display: grid;
        height: base.$external-60px;
        width: base.$external-80px;
        place-content: center;
        border: base.$border-width_132 solid base.$gray-500;
    }
}