---
layout: 'base.njk'
jsSrc: /assets/js/article.js
jsSrcBase: /assets/js/base.js
cssSrc: /css/blogArticle.css
---
<!-- ** MAIN -->
<header>
</header>
<article class="blog-articleWrapper">
  {% block content %} {{ content | safe }} {% endblock %}
</article>