---
layout: 'base.njk'
title: 'blog'
name: 'blog'
permalink: '/blog.html'
jsSrc: ./assets/js/blog.js
jsSrcBase: ./assets/js/base.js
cssSrc: ./css/blog.css
---
<header>
    <div class="header-container">
        <h1>Insights Explored, Perspectives Shared<span class="header-__cursor">_</span></h1>
    </div>
</header>
<div class="articles-container">
    <div class="__divider_long"></div>
    <div class="article-filter-container">
        <div class="articles-category-wrapper">
            <p class="articles-category">all</p>
            <div class="category-count-wrapper">
                <p class="category-count"></p>
            </div>
        </div>
        <ul class="article-filter-buttons-container">
            <li class="article-filter-wrapper">
                <button class="articleFilter __button-1 __button-1--regular __button-1--active __cursor-expand-outer" data-articleFilter="work">
                    <div class="_inner-1"><span class="_text">all</span></div>
                    <div class="_inner-2"><span class="_text">all</span></div>
                </button>
            </li>
            <li class="article-filter-wrapper">
                <button class="articleFilter __button-1 __button-1--regular  __cursor-expand-outer" data-articleFilter="about">
                    <div class="_inner-1"><span class="_text">personal</span></div>
                    <div class="_inner-2"><span class="_text">personal</span></div>
                </button>
            </li>
            <li class="article-filter-wrapper">
                <button class="articleFilter __button-1 __button-1--regular  __cursor-expand-outer" data-articleFilter="blog">
                    <div class="_inner-1"><span class="_text">dmd300</span></div>
                    <div class="_inner-2"><span class="_text">dmd300</span></div>
                </button>
            </li>
        </ul>
    </div>
    <div class="articles-section-container">
        {%- for article in collections.article | reverse -%}
            {% include "partials/article.njk" %}
        {%- endfor %}
    </div>
</div>