<div class="article-content-image-container">
    <div class="article-content-image-wrapper">
        <img class="article-content-image --parallex-img" src="../assets/images/blogs/{{href}}"
            alt="{{alt}}">
    </div>
</div>