<div class="article-container">
    <a class="--cursor-expand">
        <article class="article-wrapper">
            <div class="article-content-container">
                <div class="article-content-wrapper">
                    <div class="article-description-wrapper">
                        <div class="article-categoryTime-wrapper">
                            <div class="article-category-container">
                                <div class="article-category-wrapper">
                                    <p class="article-category">{{post.data.category}}</p>
                                </div>
                            </div>
                            <p class="article-time --no-pm">{{post.data.readTime}}</p>
                        </div>
                        <h2 class="article-title">{{post.data.title}}</h2>
                        <div class="article-authorDate-wrapper">
                            <p class="article-author --no-pm">{{post.data.author}}</p>
                            <p class="article-date --no-pm">{{post.data.published}}</p>
                        </div>
                    </div>
                    <div class="article-summary-wrapper">
                        <p class="article-summary --no-pm">{{post.data.summary}}</p>
                    </div>
                </div>
            </div>
            <div class="article-thumbnail-container" style="background-image: url('{{post.data.postThumbnail}}'); object-fit: contain" alt="{{post.data.postThumbnailAlt}}">
            </div>
        </article>
    </a>
    <div class="article-divider-wrapper">
        <svg height="9" viewBox="0 0 1018 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.707 4.24072C0.707 2.2891 2.2891 0.707 4.24072 0.707H1015.25C1016.38 0.707 1017.29 1.62201 1017.29 2.75074C1017.29 5.52525 1015.04 7.77444 1012.27 7.77444H4.24075C2.28913 7.77444 0.707 6.19233 0.707 4.24072Z"
                fill="#F1F6F9" stroke="#141301" stroke-width="1.414" />
        </svg>
    </div>
</div>
