<div class="article-container">
    <article class="article-wrapper">
        <div class="article-content"></div>
        <div class="article-thumbnail"></div>
    </article>
    <div class="article-divider-wrapper"></div>
</div>