<a class="article-container __article-snippet __cursor-change-inner --delay-link" href="{{article.url}}" data-cursor-hover="view">
    <article class="article-wrapper">
        <div class="article-thumbnail-container">
            <div class="article-thumbnail" style="background-image: url('{{article.data.articleThumbnail}}'); background-size: cover;" alt="{{article.data.articleThumbnailAlt}}"></div>
            <div class="__article-specific-category-wrapper">
                <p class="__article-specific-category">{{article.data.category}}</p>
            </div>
        </div>
        <div class="article-content-container">
            <h2 class="article-title">{{article.data.title}}</h2>
            <p class="article-summary">{{article.data.summary}}</p>
        </div>
    </article>
</a>