<link rel="stylesheet" href='/css/footer.css'>
<footer class="footer-container --overlap-section">
    <div class="footer-ribbons-container"></div>
    <section class="footer-top-container">
        <div class="footer-middle-container">
            <div class="CTA-container">
                <h3 class="CTA">Let's work together!</h3>
                <!-- Structure like __button-1 -->
                <ul class="contact-info-container">
                    <button class="contact-info-email __button-2"></button>
                    <button class="contact-info-phone __button-2"></button>
                </ul>
            </div>
            <div class="contact-button-wrapper"></div>
        </div>
        <div class="social-links-wrapper"></div>
    </section>
    <div class="footer-bottom-container">
        <div class="__divider-small"></div>
        <div class="footer-bottom-content-container">
            <div class="bottom-info-wrapper">
                <small class="copyright">© my name 2023</small>
                <small class="date-and-time">date and time</small>
            </div>
            <div class="bottom-logo-wrapper">
                <div class="bottom-logo">Logo</div>
            </div>
            <div class="bottom-logo-wrapper"></div>
        </div>
    </div>
    <div class="footer-tagline-container">
        <div class="footer-tagline-wrapper">
            <p class="footer-tagline"></p>
        </div>
        <div class="footer-tagline-wrapper">
            <p class="footer-tagline"></p>
        </div>
    </div>
</footer>