{% block css %}
<link rel="stylesheet" href="/css/footer.css" />
{% endblock %}
<footer class="footer-container">
    <div class="footer-ribbons-container"></div>
    <section class="footer-top-container">
        <div class="middle-container">
            <div class="CTA-container">
                <h3 class="CTA">Let's work together!</h3>
                <ul class="contact-info-container">
                    <button class="contact-info-email __button-2 __button-2--large--regular --cursor-expand-outer">
                        <div class="_inner-1"><span class="_text">email@domain.com</span></div>
                        <div class="_inner-2">
                            <span class="__icon-copy-medium-light">
                                <svg id="icon-copy" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g transform="matrix(-1 0 0 1 24 0)"><path d="M22,11.1v-4.2C22,3.4,20.6,2,17.1,2h-4.2C9.4,2,8,3.4,8,6.9L8,8h3.1C14.6,8,16,9.4,16,12.9v3.1h1.1c3.5,0,4.9-1.4,4.9-4.9Z" fill="none" stroke="#292d32" stroke-width="1.41" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.1,22h-4.2C3.4,22,2,20.6,2,17.1v-4.2C2,9.4,3.4,8,6.9,8h4.2C14.6,8,16,9.4,16,12.9v4.2c0,3.5-1.4,4.9-4.9,4.9Z" fill="none" stroke="#292d32" stroke-width="1.41" stroke-linecap="round" stroke-linejoin="round"/></g><path d="M6.08008,15l1.95,1.95l3.89002-3.9" transform="translate(5.91992 0)" fill="none" stroke="#292d32" stroke-width="1.41" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </span>
                        </div>
                    </button>
                    <button class="contact-info-phone __button-2 __button-2--large--regular --cursor-expand-outer">
                        <div class="_inner-1"><span class="_text">(412) 926-8464</span></div>
                        <div class="_inner-2">
                            <span class="__icon-copy-medium-light">
                                <svg id="icon-copy" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g transform="matrix(-1 0 0 1 24 0)"><path d="M22,11.1v-4.2C22,3.4,20.6,2,17.1,2h-4.2C9.4,2,8,3.4,8,6.9L8,8h3.1C14.6,8,16,9.4,16,12.9v3.1h1.1c3.5,0,4.9-1.4,4.9-4.9Z" fill="none" stroke="#292d32" stroke-width="1.41" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.1,22h-4.2C3.4,22,2,20.6,2,17.1v-4.2C2,9.4,3.4,8,6.9,8h4.2C14.6,8,16,9.4,16,12.9v4.2c0,3.5-1.4,4.9-4.9,4.9Z" fill="none" stroke="#292d32" stroke-width="1.41" stroke-linecap="round" stroke-linejoin="round"/></g><path d="M6.08008,15l1.95,1.95l3.89002-3.9" transform="translate(5.91992 0)" fill="none" stroke="#292d32" stroke-width="1.41" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </span>
                        </div>
                    </button>
                </ul>
            </div>
            <div class="contact-button-wrapper">
                <div class="temp-button-3"></div>
            </div>
        </div>
        <ul class="social-links-wrapper">
            <li class="social-link --cursor-expand-outer">social link</li>
            <li class="social-link --cursor-expand-outer">social link</li>
            <li class="social-link --cursor-expand-outer">social link</li>
            <li class="social-link --cursor-expand-outer">social link</li>
        </ul>
    </section>
    <div class="footer-bottom-container">
        <div class="__divider_light_thin-extraLong"></div>
        <div class="footer-bottom-content-container">
            <div class="bottom-info-wrapper">
                <small class="copyright">© my name 2023</small>
                <small class="date-and-time">date and time</small>
            </div>
            <div class="bottom-logo-wrapper">
                <div class="bottom-logo">Logo</div>
            </div>
        </div>
    </div>
    <div class="footer-tagline-container">
        <div class="footer-tagline-wrapper">
            <p class="footer-tagline">tagline / tagline</p>
        </div>
        <div class="footer-tagline-wrapper">
            <p class="footer-tagline">tagline / tagline</p>
        </div>
    </div>
</footer>