<div class="app-stack-top">
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics" target="_blank"><img src="./assets/svg/icons/stack app/HTML.svg" alt="HTML icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">HTML</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="./assets/svg/icons/stack app/CSS.svg" alt="CSS icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">CSS</p>
        </div>
    </div>
    <div class="app-container  --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.javascript.com/" target="_blank"><img src="./assets/svg/icons/stack app/JavaScript.svg" alt="JavaScript icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">JavaScript</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://git-scm.com/" target="_blank"><img src="./assets/svg/icons/stack app/Git.svg" alt="Git icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Git</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://github.com/" target="_blank"><img src="./assets/svg/icons/stack app/GitHub.svg" alt="GitHub icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">GitHub</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://gsap.com/" target="_blank"><img src="./assets/svg/icons/stack app/GSAP.svg" alt="GSAP icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">GSAP</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://react.dev/" target="_blank"><img src="./assets/svg/icons/stack app/React.svg" alt="React icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">React</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://sass-lang.com/" target="_blank"><img src="./assets/svg/icons/stack app/SCSS.svg" alt="SCSS icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">SCSS</p>
        </div>
    </div>
</div>
<div class="app-stack-bottom">
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://nodejs.org/en" target="_blank"><img src="./assets/svg/icons/stack app/Node.js.svg" alt="Node.js icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Node.js</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.blender.org/" target="_blank"><img src="./assets/svg/icons/stack app/Blender.svg" alt="Blender icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Blender</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.figma.com/" target="_blank"><img src="./assets/svg/icons/stack app/Figma.svg" alt="Figma icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Figma</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.autodesk.com/products/fusion-360/overview?term=1-YEAR&tab=subscription" target="_blank"><img src="./assets/svg/icons/stack app/Fusion 360.svg" alt="Fusion 360 icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Fusion 360</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.adobe.com/products/illustrator.html" target="_blank"><img src="./assets/svg/icons/stack app/Illustrator.svg" alt="Illustrator icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Illustrator</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.adobe.com/products/aftereffects.html" target="_blank"><img src="./assets/svg/icons/stack app/AfterEffects.svg" alt="AfterEffects icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">AfterEffects</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.adobe.com/products/photoshop.html" target="_blank"><img src="./assets/svg/icons/stack app/Photoshop.svg" alt="Photoshop icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Photoshop</p>
        </div>
    </div>
    <div class="app-container --flicker-element --arrow-diagonal-small-container --cursor-outer-hide">
        <div class="app-wrapper top-stack-app">
            <a href="https://www.adobe.com/products/premiere.html" target="_blank"><img src="./assets/svg/icons/stack app/Premier Pro.svg" alt="Premier Pro icon" class="stack-app"></a>
            <div class="arrow-wrapper --arrow-wrapper">
                <img src="./assets/svg/icons/arrows/diagonal/__arrow_diagonal_small.svg" alt="" class="__arrow_diagonal_small">
            </div>
        </div>
        <div class="app-blurb-wrapper">
            <div class="__corner_horizontal_small"></div>
            <p class="app-name">Premier Pro</p>
        </div>
    </div>
</div>