<a class="__external-link" href="{{ link }}" target="_blank">
    {{ text }}
<span class="__external-link-arrow">
    <img src="../assets/svg/icons/arrows/__arrow_small_top-right.svg" alt="">
</span>
</a>