{% from 'macros/logo.njk' import logo %}
{% from 'macros/buttons.njk' import button %}

{% block css %}
<link rel="stylesheet" href="/css/navigation.css" />
{% endblock %}

<nav class="navigation__top-c">
    {{ button(buttonType = "primary", class = "testing") }}
    {{ logo(logoType = "light") }}
    <ul class="navigation__sections-c">
        <li class="navigation__item-w">
            <span class="square--regular"></span>
            Work
        </li>
        <li class="navigation__item-w">
            <span class="square--regular"></span>
            About
        </li>
        <li class="navigation__item-w">
            <span class="square--regular"></span>
            Contact
        </li>
    </ul>
</nav>