<nav class="navigation-windowTop -animated-slideDown -desktop">
    <button id="navigationWindowTop-homeButton">
      <a id="homeButton-link" class="-navLink" href="/index.html"><img id="homeButton-img" src="https://picsum.photos/62" alt="Logo"></a>
    </button>
    <div class="heading-nav">
      <ul class="headingNav-wrapper">
        <li class="-linkHover-1">
            <a class="heading-navLink navLink-about -navLink" href="{{ 'WIP.html' | url }}">About<span class="-linkHover-1-hover"></span></a>
        </li>
        <li class="-linkHover-1">
            <a class="heading-navLink navLink-work -navLink" href="WIP.html">Work<span class="-linkHover-1-hover"></span></a>
        </li>
        <li class="-linkHover-1">
            <a class="heading-navLink navLink-blog -navLink" href="/blog.html">Blog<span class="-linkHover-1-hover"></span></a>
        </li>
        <li class="-linkHover-1">
            <a class="heading-navLink navLink-contact -navLink" href="WIP.html">Contact<span class="-linkHover-1-hover"></span></a>
        </li>
      </ul>
    </div>
</nav>
<button class="navigation-scrolled-button -desktop">
    <div class="navButtonLine"></div>
    <div class="navButtonLine"></div>
    <div class="navButtonHover"></div>
</button>
<div class="navigationScrolledContainer -desktop -inactive">
  <div class="navigationScrolledWrapper -wrap">
      <div class="navScrolled-top -wrap"></div>
      <div class="navScrolled-middle -wrap">
        <nav class="navScrolledMiddle-navigation"></nav>
      </div>
      <div class="navScrolled-bottom -wrap"></div>
  </div>
  <div class="navigationScrolledOverlay"></div>
</div>